
{%- if ratio_h == 'auto' -%}
  {%- assign aspect_ratio_auto = 1 | divided_by: card_collection.featured_image.aspect_ratio | times: 100 %}
{%- elsif ratio_h == '1' -%}
  {%- assign aspect_ratio_auto = '100' -%}
{%- elsif ratio_h == '2' -%}
  {%- assign aspect_ratio_auto = '125' -%}
{%- else -%}
  {%- assign aspect_ratio_auto = '100' -%}
{%- endif -%}


  {% style %}
    #shopify-section-{{ section.id }} .the-gplayer-list-page #collection_item-{{ card_collection.id }} .shop_collection_images .collection_images:after {
      padding-top: {{ aspect_ratio_auto }}%;
    }
  {% endstyle %}

<div class="anim-item shop_collection_item reveal complex-img" id="collection_item-{{ card_collection.id }}">
  <div class="shop_collection_images">
    <a class="collection_images" href="{{card_collection.url}}">
      {%- if card_collection.featured_image != blank -%}
        {% render 'the-img', image: card_collection.featured_image %}
      {%- else -%}
        {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
        {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </a>
  </div>
  <div class="shop_collection_content">
    <div class="shop_collection_text">
      <h2>
        <a class="shop_collection_title title-wrapper" href="{{ card_collection.url }}"><span class="title">{{ card_collection.title }}</span></a>
      </h2>
      <span class="shop_collection_subTitle">
        {{- card_collection.all_products_count }}
        {{ 'sections.all-collection.items' | t }}
      </span>
    </div>
    <div class="shop_collection_button">
      <a class="shop-collection-btn" href="{{ card_collection.url }}">
        <span>
        {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </a>
    </div>
  </div>
</div>
