{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-menu-drawer>
  <div id="menu-drawer-container" class="menu-drawer-container">
    <div
      class="header-menu-icon"
      id="header-menu-icon"
      aria-label="menu-icon"
    >
      <span class="flex">
        {{- 'icon-menu.svg' | inline_asset_content -}}
      </span>
    </div>
    <div id="drawer-menu" class="drawer-menu color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer-header-wrapper">
        <div class="menu-drawer-header grid align-items-center">
          <button role="button" aria-label="Close" class="close-btn" id="drawer-menu-close-btn">
           <span class="flex">
            {{- 'icon-close.svg' | inline_asset_content -}}
           </span>
          </button>
          <div class="logo">
            <a href="{{ routes.root_url }}" class="header-heading-link flex">
                          {%- if settings.logo != blank -%}
                          <div class="header-heading-logo-wrapper flex">
                              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                              {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                                  {{ settings.logo | image_url: width: 600 | image_tag:
                                  class: 'header-heading-logo-two',
                                  widths: widths,
                                  height: logo_height,
                                  width: settings.logo_width,
                                  alt: logo_alt,
                                  sizes: sizes,
                                  preload: true
                                  }}
                          </div>
                          {%- else -%}
                          <span class="h2">{{ shop.name }}</span>
                          {%- endif -%}
                      </a>
          </div>
          <div class="header-icons flex align-items-center justify-content-end">
            {% comment %} {% render 'header-search', input_id: 'Search-In-Modal' %} {% endcomment %}
  
            {%- if shop.customer_accounts_enabled -%}
                <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="header-user-account"
                rel="nofollow"
                >
                {%- if section.settings.enable_customer_avatar -%}
                    <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                        {{ customer | avatar }}
                    {%- else -%}
                        <span class="flex">{{ 'icon-account.svg' | inline_asset_content }}</span>
                    {%- endif -%}
                    </account-icon>
                {%- else -%}
                    <span class="flex">{{ 'icon-account.svg' | inline_asset_content }}</span>
                {%- endif -%}
                <span class="visually-hidden">
                    {%- liquid
                    if customer
                        echo 'customer.account_fallback' | t
                    else
                        echo 'customer.log_in' | t
                    endif
                    -%}
                </span>
                </a>
            {%- endif -%}
  
            {% comment %} <a href="{{ routes.cart_url }}" class="header-cart flex align-items-center" id="cart-icon-bubble">
                {% if cart == empty %}
                    <span class="flex">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
                {% else %}
                    <span class="flex">{{'icon-cart.svg' | inline_asset_content }}</span>
                {% endif %}
                {%- if cart != empty -%}
                <div class="cart-count-bubble flex center">
                    {%- if cart.item_count < 100 -%}
                    <span aria-hidden="true">{{ cart.item_count }}</span>
                    {%- endif -%}
                </div>
                {%- endif -%}
            </a> {% endcomment %}
        </div>
        </div>
      </div>
      <div class="menu-drawer__inner-container menu-drawer-nav">
        <div class="menu-drawer__navigation-container no-scrollbar">
          <nav class="menu-drawer-navigation">
            <ul class="menu-drawer__menu has-submenu main-menu-item-list" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item {% if link.child_active %}menu-item-active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="svg-wrapper flex">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu no-scrollbar">
                          <button class="menu-drawer__close-button" aria-expanded="true">
                            <span class="svg-wrapper flex">
                              {{- 'icon-caret.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item list-menu__item {% if childlink.current %} menu-item-active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <div id="third-level-menu">
                                    <div
                                      id="third-level-menu-btn"
                                      class="menu-drawer__menu-item  list-menu__item"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </div>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class=""
                                    >
                                      <ul
                                        class=""
                                        role="list"
                                        tabindex="-1"
                                        id="third-level-menu-list"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item list-menu__item {% if grandchildlink.current %}menu-item-active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </div>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item{% if link.current %}menu-item-active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
        </div>
      </div>
      <div class="menu-drawer-footer">
        <div class="menu-drawer-footer-inner">
          {%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
            <div class="menu-drawer__localization header-localization">
              {%- if localization.available_countries and localization.available_countries.size > 1 and section.settings.enable_country_selector -%}
                <localization-form>
                  {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                    <div>
                      <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                        {{ 'localization.country_label' | t }}
                      </h2>
                      {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              {% endif %}

              {%- if localization.available_languages and localization.available_languages.size > 1 and section.settings.enable_language_selector -%}
                <localization-form>
                  {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                    <div>
                      <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                        {{ 'localization.language_label' | t }}
                      </h2>
                      {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</header-menu-drawer>
