{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
    class="variant_group_wrapper"
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill flex-direction-column">
          <legend class="form__label">{{ option.name }}</legend>
          <div class="product-form__input--pill__wrapper">
            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          </div>
          {% if option.name  ==  "Size" %}
                 <modal-opener
                    class="product-popup-modal__opener quick-add-hidden"
                    data-modal="#PopupModal-{{ block.id }}"
                  >
                    <button
                      id="ProductPopup-{{ block.id }}"
                      class=""
                      type="button"
                      aria-haspopup="dialog"
                    >
                      Size chart
                    </button>
                  </modal-opener>
                  <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal size-chart-modal" {{ block.shopify_attributes }}>
                    <div
                        role="dialog"
                        aria-label="{{ block.settings.chart_title }}"
                        aria-modal="true"
                        class="popup_size_cart_wrapper"
                        tabindex="-1"
                        >
                        <div class="popup_size_cart_top">
                              <div class="popup_title">
                                  <h6 class="popup_size_cart_title">{% if block.settings.chart_title != blank %}{{ block.settings.chart_title }} {% endif %}</h6>
                              </div>
                              <div class="popup_size_cart_close">
                                <button
                                  id="ModalClose-{{ block.id }}"
                                  type="button"
                                  class=""
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  {{- 'icon-close.svg' | inline_asset_content -}}
                                </button>
                              </div>
                          </div>
                          <div class="popup_size_cart_table_main">
                            {% if block.settings.chart_desc != blank or  block.settings.chart_btn_text != blank %}
                              <div class="popup_size_cart_text">
                               {% if block.settings.chart_desc != blank %}
                                 <div class="popup_size_cart_desc">
                                  {{ block.settings.chart_desc }}
                                 </div>
                               {% endif %}
                               {% if block.settings.chart_btn_text != blank %}
                                 <div class="popup_size_cart_button">
                                    <a class="popup_size_cart_btn" href="{{ block.settings.chart_btn_link }}">
                                       {{ block.settings.chart_btn_text }}
                                    </a>
                                 </div>
                               {% endif %}
                              </div>
                            {% endif %}
                        <div class="popup_size_cart_box">
                                  {% if block.settings.size_right_image != blank %}
                                      <img
                                        class="category-images"
                                        src="{{ block.settings.size_right_image | image_url }}"
                                        {% if block.settings.size_right_image.alt != blank %}
                                          alt="{{ block.settings.size_right_image.alt | escape }}"
                                        {% else %}
                                          role="presentation"
                                        {% endif %}
                                        height="auto"
                                        width="auto"
                                        loading="lazy"
                                      >
                                    {% else %}
                                      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                {% endif %}
                        </div>
                        </div>
                    </div>
                  </modal-dialog>
          {% endif %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label snzz-variant-label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select snzz-variant-select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
