<script src="{{ 'countdown.js' | asset_url }}" defer="defer"></script>
{% if block.settings.countdown_end != blank %}
    <div class="product_single_timer_box" {{ block.shopify_attributes }}>
            <div class="product_single_timer_content">
            <div class="product_single_timer_icons flex">
                {{- 'icon-flash.svg' | inline_asset_content -}}
            </div>
            {% if block.settings.timer_title != blank or block.settings.timer_sub_title != blank %}
                <div class="product_single_timer_text">
                    {% if block.settings.timer_title != blank %}
                        <h6 class="timer_title">{{ block.settings.timer_title }}</h6>
                    {% endif %}
                    {% if block.settings.timer_sub_title != blank %}
                        <span class="timer_sub_title">{{ block.settings.timer_sub_title }}</span>
                    {% endif %}
                </div>
            {% endif %}
            </div>
<countdown-timer class="product_single_timer_wrapper" countdown-end="{{ block.settings.countdown_end }}"></countdown-timer>
    </div>
{% endif %}
