{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
{% comment %} <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
    {{ block.settings.share_label | escape }}
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
      {{ block.settings.share_label | escape }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy">
        <span class="svg-wrapper">
          {{- 'icon-copy.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>
    </div>
  </details>
</share-button> {% endcomment %}
{% if block.settings.show_facebook_share or block.settings.show_pinterest_share or  block.settings.show_twitter_share or block.settings.show_copy_link %}
  

<div class="product_single_socials" {{ block.shopify_attributes }}>
  {% if block.settings.show_facebook_share %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}"
      target="_blank"
      rel="noopener"
      class="facebook-share-button share-btn">
      {{- 'icon-facebook.svg' | inline_asset_content -}}
    </a>
  {% endif %}

  {% if block.settings.show_pinterest_share %}
    <a href="https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&media={{ product.featured_image | img_url: 'master' }}&description={{ product.title }}"
      target="_blank"
      rel="noopener"
      class="pinterest-share-button share-btn">
      {{- 'icon-pinterest.svg' | inline_asset_content -}}
    </a>
  {% endif %}

  {% if block.settings.show_twitter_share %}
    <a href="https://twitter.com/intent/tweet?url={{ shop.url }}{{ product.url }}&text={{ product.title }}"
      target="_blank"
      rel="noopener"
      class="share-btn">
      {{- 'icon-twitter.svg' | inline_asset_content -}}
    </a>
  {% endif %}

  {% if block.settings.show_copy_link %}
    <button class="share-btn" onclick="copyProductLink()">
      {{- 'icon-link.svg' | inline_asset_content -}}
    </button>
  <script>
    function copyProductLink() {
      const url = "{{ shop.url }}{{ product.url }}";
      navigator.clipboard.writeText(url).then(() => {
        alert('Product link copied to clipboard!');
      }).catch(err => {
        console.error('Failed to copy: ', err);
      });
    }
  </script>
  {% endif %}
</div>

{% endif %}



