{{ 'additional-information.css' | asset_url | stylesheet_tag }}
{{ 'snazzy-tab.css' | asset_url | stylesheet_tag }}

<script src="{{ 'snazzy-tab.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.65 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.65 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="product-details-tabs-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <snazzy-tab>
      <div class="product-details-tabs_wrapper">
        <div class="product_details_tabs" id="our-journey-tab">
          <div class="product_details_menu">
            <div class="scroller-wrapper">
              <div class="scroll-width">
                <ul class="tabs_menu snazzy-tab-buttons flex wrap align-items-center no-scrollbar">
                  {% for block in section.blocks %}
                    <li
                      class="snazzy-tab-button {% if forloop.first %}active{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      <span class="product_anim">
                        <span class="anim_text">
                          {{ block.settings.tab_title }}
                        </span>
                      </span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="product_details_content_box">
            {% for block in section.blocks %}
              <div class="snazzy-tab-content tab-pane {% if forloop.first %}active{% endif %}">
                <div class="product_details_tabs_item">
                  {% if block.settings.content_rich != blank %}
                    <div class="product-description-content rte-content-area">
                      {{ block.settings.content_rich }}
                    </div>
                  {% endif %}
                  {% if block.settings.page.content != blank %}
                    <div class="product-description-content rte-content-area">
                      {{ block.settings.page.content }}
                    </div>
                  {% endif %}
                  {% if block.settings.custom_liquid != blank %}
                    <div class="product-description-content rte-content-area">
                      {{ block.settings.custom_liquid }}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </snazzy-tab>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.additional_info.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "Item",
      "name": "t:sections.additional_info.blocks.item.name",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "t:sections.additional_info.blocks.item.settings.tab_title.label",
          "default": "t:sections.additional_info.blocks.item.settings.tab_title.default"
        },
        {
          "type": "richtext",
          "id": "content_rich",
          "label": "t:sections.additional_info.blocks.item.settings.content_rich.label",
          "info": "t:sections.additional_info.blocks.item.settings.content_rich.info"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.additional_info.blocks.item.settings.page.label"
        },
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.additional_info.blocks.item.settings.custom_liquid.label",
          "info": "t:sections.additional_info.blocks.item.settings.custom_liquid.info",
          "default": "{{ product.description }}"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.additional_info.presets.name",
      "blocks": [
        {
          "type": "Item",
          "settings": {
            "tab_title": "t:sections.additional_info.presets.tabs.description"
          }
        },
        {
          "type": "Item",
          "settings": {
            "tab_title": "t:sections.additional_info.presets.tabs.fabric"
          }
        },
        {
          "type": "Item",
          "settings": {
            "tab_title": "t:sections.additional_info.presets.tabs.shipping"
          }
        }
      ]
    }
  ]
}
{% endschema %}
