{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }
  @media screen and (min-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}

<section class="section-announcement color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="page-width">
    {% if section.blocks.size > 1 %}
      <items-carousel>
        <div
          class="carousel items-carousel-selector"
          data-flickity='{"contain": true, "prevNextButtons": true, "pageDots": false,  "autoplay": true}'
        >
        <div
          class="carousel items-carousel-selector"
          data-flickity='{"contain": true, "prevNextButtons": true, "pageDots": false,  "autoplay": true}'
        >
          {%- for block in section.blocks -%}
            <div class="announce_item" {{ block.shopify_attributes }}>
              {% if block.settings.announce_heading != blank %}
                {% if block.settings.announce_link != blank %}<a href="{{ block.settings.announce_link }}">{% endif %}
                <div class="announce_item_title">{{ block.settings.announce_heading }}</div>
                {% if block.settings.announce_link != blank %}</a>{% endif %}
              {% endif %}
            </div>
          {%- endfor -%}
        </div>
      </items-carousel>
    {% elsif section.blocks.size == 1 %}
      {%- assign block = section.blocks[0] -%}
      <div class="announce_item" {{ block.shopify_attributes }}>
        {% if block.settings.announce_heading != blank %}
          {% if block.settings.announce_link != blank %}<a href="{{ block.settings.announce_link }}">{% endif %}
          <div class="announce_item_title">{{ block.settings.announce_heading }}</div>
          {% if block.settings.announce_link != blank %}</a>{% endif %}
        {% endif %}
        {% if block.settings.announce_heading != blank %}
          {% if block.settings.announce_link != blank %}<a href="{{ block.settings.announce_link }}">{% endif %}
          <div class="announce_item_title">{{ block.settings.announce_heading }}</div>
          {% if block.settings.announce_link != blank %}</a>{% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "name": "t:sections.announcement-bar.name",
  "tag": "section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 14
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 14
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "announce_heading",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
          "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default"
        },
        {
          "type": "url",
          "id": "announce_link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.name",
      "category": "Custom"
    }
  ]
}
{% endschema %}