{{ 'page-header.css' | asset_url | stylesheet_tag }}
{{ 's-page-breadcrumb.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.45 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.45 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  }
{%- endstyle -%}
<section class="page-header breadcrumb-main-area section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="breadcrumb-content-area page-width">
    {% if section.settings.enable_breadcrumb_navigation == true %}
      <div class="anim-item breadcrumb-link">
        <ul>
          <li>
            <a href="{{ routes.root_url }}">{{ 'sections.breadcrumb_banner.home' | t }}</a>
          </li>
          <li>{{ blog.title | escape }}</li>
        </ul>
      </div>
    {% endif %}
    <div class="anim-item breadcrumb-heading">
      <h1 class="breadcrumb-title">
        {% if section.settings.custom_text != blank %}
          {{ section.settings.custom_text }}
        {% else %}
          {{ blog.title | escape }}
        {% endif %}
      </h1>
    </div>
  </div>
  {% if section.settings.header_bg %}
    <div class="page-header-bg">
      {% render 'the-img', image: section.settings.header_bg %}
    </div>
  {% endif %}
</section>
{% schema %}
{
  "name": "t:sections.blog-breadcrumb-banner.name",
  "tag": "section",
  "class": "blog-breadcrumb-banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "header_bg",
      "label": "t:sections.main-collection-banner.settings.header_bg.label"
    },
    {
      "type": "text",
      "id": "custom_text",
      "label": "t:sections.blog-breadcrumb-banner.settings.custom_text.label"
    },
    {
      "type": "checkbox",
      "id": "enable_breadcrumb_navigation",
      "default": true,
      "label": "t:sections.blog-breadcrumb-banner.settings.enable_breadcrumb_navigation.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 200
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 250
    }
  ]
}
{% endschema %}
