{% comment %} {{ 'product-style.css' | asset_url | stylesheet_tag }} {% endcomment %}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'product-style.css' | asset_url | stylesheet_tag }}
{{ 'image-hotspot.css' | asset_url | stylesheet_tag }}
{% comment %} {{ 'quick-add.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{% endcomment %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% assign total_price = 0 %}

{% for block in section.blocks %}
  {% assign product = all_products[block.settings.selected_product] %}
  {% if product %}
    {% assign total_price = total_price | plus: product.price %}
  {% endif %}
{% endfor %}

<section class="bulk-hotspot-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="bulk_hotspot_wrapper">
      <div class="bulk_hotspot_left_content">
        {% if section.settings.section_title != blank %}
          <h2 class="bulk_hotspot_title">{{ section.settings.section_title }}</h2>
        {% endif %}
        <div class="bulk_hotspot_left_text">
          {% if section.settings.hotspot_title != blank %}
            <h5 class="hotspot_title">{{ section.settings.hotspot_title }}</h5>
          {% endif %}
          {% if section.settings.hotspot_subtitle != blank %}
            <span class="hotspot_sub_title">{{ section.settings.hotspot_subtitle }}</span>
          {% endif %}
          <div class="hotspot_percent">
            {{ 'sections.image_hotspot.subtotal' | t }}
            <strong>
              {{- cart.currency.symbol -}}
              <span class="hotspot-subtotal">{{ total_price | money }}</span>
            </strong>
          </div>
          {% if section.settings.cart_button_text != blank %}
            <div class="bulk_hotspot_button">
              <button class="bulk-hotspot-btn">
                <div>
                  {{- section.settings.cart_button_text -}}
                  <span class="btn-text">{{- 'icon-plus.svg' | inline_asset_content -}}</span>
                </div>
                <span class="btn-loader" style="display: none;"></span>
              </button>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="bulk_hotspot_box bulk_hotspot_slider">
        <div class="bulk_hotspot_images">
          {% if section.settings.hotspot_image != blank %}
            {{
              section.settings.hotspot_image
              | image_url: width: 1500
              | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
            }}
          {% else %}
            {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          <!-- Hotspots -->
          {% for block in section.blocks %}
            {%- assign prd_crd = block.settings.selected_product %}
            {%- assign section_id = section.id %}
            {% assign pdfm = 'quick-add-' | append: section_id | append: prd_crd.id %}
            {% if block.type == 'product' %}
              <div
                class="hotspot {% if forloop.first %} active{% endif %}"
                data-slide="{{forloop.index}}"
                style="top: {{ block.settings.pointer_position_top }}%; left: {{ block.settings.pointer_position_left }}%;"
                data-content=""
              >
                <div class="popup-wrapper">
                  <div class="hotspot-popup">
                    {% if block.settings.selected_product.title != blank %}
                      <p>{{ block.settings.selected_product.title }}</p>
                    {% else %}
                      <p>{{ 'sections.image_hotspot.product_title' | t }}</p>
                    {% endif %}
                    {% if block.settings.selected_product.price != blank %}
                      <p>{{ block.settings.selected_product.price | money }}</p>
                    {% else %}
                      <p>{{ 00.00 | money }}</p>
                    {% endif %}
                  </div>
                </div>
                <popup-slide data-modal="#QuickAdd-{{ prd_crd.id }}">
                  <button
                    id="{{ pdfm }}-submit"
                    type="submit"
                    name="add"
                    class="quick-view-prg {% if prd_crd.id != blank %}quick-view-prg-have{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ pdfm }}-submit title-{{ section_id }}-{{ prd_crd.id }}"
                    data-product-url="{{ prd_crd.url }}"
                  ></button>
                </popup-slide>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        {% if section.blocks.size > 0 %}
          <items-carousel>
            <div
              class="carousel items-carousel-selector hotpot_slider_wrapper"
              data-flickity='{"contain": true, "prevNextButtons": {% if section.blocks.size > 1 %}true {% else %}false{% endif %}, "pageDots": false }'
            >
              {% for block in section.blocks %}
                {% if block.type == 'product' %}
                  <div class="hotpot_slider_item" {{ block.shopify_attributes }}>
                    {% assign product = block.settings.selected_product %}
                    {% if product != blank %}
                      {% render 'card-product', card_product: product, section_id: section.id %}
                    {% else %}
                      <div class="hotpot_slider_thumb flex">
                        {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                        {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                      <div class="hotpot_slider_content">
                        <h5 class="hotpot_slider_title" href="{{product.url}}">
                          {{ 'sections.image_hotspot.product_title' | t }}
                        </h5>
                        <p class="hotpot_slider_amount">{{ 0.00 | money }}</p>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </items-carousel>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script></script>

{% schema %}
{
  "name": "t:sections.image-hotspot.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.image-hotspot.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "t:sections.image-hotspot.settings.section_title.label",
      "default": "t:sections.image-hotspot.settings.section_title.default"
    },
    {
      "type": "text",
      "id": "hotspot_title",
      "label": "t:sections.image-hotspot.settings.hotspot_title.label",
      "default": "t:sections.image-hotspot.settings.hotspot_title.default"
    },
    {
      "type": "text",
      "id": "hotspot_subtitle",
      "label": "t:sections.image-hotspot.settings.hotspot_subtitle.label",
      "default": "t:sections.image-hotspot.settings.hotspot_subtitle.default"
    },
    {
      "type": "text",
      "id": "cart_button_text",
      "label": "t:sections.image-hotspot.settings.cart_button_text.label",
      "default": "t:sections.image-hotspot.settings.cart_button_text.default"
    },
    {
      "type": "image_picker",
      "id": "hotspot_image",
      "label": "t:sections.image-hotspot.settings.hotspot_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.image-hotspot.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "label": "t:sections.image-hotspot.blocks.product.settings.selected_product.label",
          "id": "selected_product"
        },
        {
          "type": "header",
          "content": "t:sections.image-hotspot.blocks.product.settings.position_header.content"
        },
        {
          "type": "range",
          "id": "pointer_position_top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.image-hotspot.blocks.product.settings.pointer_position_top.label",
          "default": 0
        },
        {
          "type": "range",
          "id": "pointer_position_left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.image-hotspot.blocks.product.settings.pointer_position_left.label",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-hotspot.presets.name",
      "blocks": [
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "pointer_position_top": 18,
            "pointer_position_left": 28
          }
        },
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "pointer_position_top": 42,
            "pointer_position_left": 56
          }
        },
        {
          "type": "product",
          "settings": {
            "selected_product": "",
            "pointer_position_top": 85,
            "pointer_position_left": 45
          }
        }
      ]
    }
  ]
}
{% endschema %}
