{{ 'component-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-scrollbar.js' | asset_url }}" defer="defer"></script>

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
    }
    @media screen and (min-width: 992px) {
    .collection_wrapper {
      grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr);
  }
  }
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<section class="collection-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    {% if section.settings.section_title != blank %}
      <div class="heading_area">
        <div class="section_title text-center">
          <h2 class="sec_title">{{ section.settings.section_title }}</h2>
        </div>
      </div>
    {% endif %}
    <div class="custom-scroller-wrapper ">
      <div class="collection_wrapper ">
        {%- for block in section.blocks -%}
          <div class="collection_item flex center" {{ block.shopify_attributes }}>
            <div
              class="item_inner"
            >
            <div class="item_inner_img media-img-abs">
              {%- if block.settings.collection_img -%}
                {% render 'the-img', image: block.settings.collection_img %}
              {%- elsif block.settings.collection.featured_image -%}
                {% render 'the-img', image: block.settings.collection.featured_image %}
              {%- else -%}
                {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
              </div>
              <span class="title-wrapper">
                {% if block.settings.collection != blank %}
                  <a  href="{{ block.settings.collection.url }}">
                {% endif %}
                  <span class="title">
                    {%- if block.settings.collection.title != blank -%}
                      {{- block.settings.collection.title -}}
                    {%- else -%}
                      {{ 'onboarding.collection_title' | t }}
                    {%- endif -%}
                  </span>
                {% if block.settings.collection != blank %}
                  </a>
                {% endif %}
              </span>
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div class="scrollbar">
        <div class="scroll-thumb"></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 6,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "collection_img",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection_img.label",
          "info": "t:sections.collection-list.blocks.featured_collection.settings.collection_img.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
