{{ 'component-collection-carousel.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
 
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}


 <!-- start: Collection Section -->
 <section class="collection-carousel-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
        <div class="carousel" data-flickity='{"contain": true, "prevNextButtons": true, "pageDots": false}'>
          {%- for block in section.blocks -%}
            <div class="collection_carousel_item" style="background-color: {{ block.settings.collection_bg_color }};">
                <div class="collection_carousel_images">
                  {%- if block.settings.collection_image != blank or block.settings.collection_select.image != blank -%}
                    <a href="{{ block.settings.collection_select.url }}">
                      {%- if block.settings.collection_image != blank -%}
                        {{ block.settings.collection_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                        {%- else -%}
                        {{ block.settings.collection_select.image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                      {%- endif -%}
                    </a>
                    {%- else -%}
                    {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                    {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                    {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                </div>
                <div class="collection_carousel_content">
                    <span class="subTitle">
                      <span class="collection_anim">
                        <span class="anim_text">
                      {{ block.settings.collection_featured }}
                        </span>
                      </span>
                    </span>

                    {%- if block.settings.collection_heading != blank or block.settings.collection_select != blank -%}
                    <div class="collection_carousel_text">
                          <div class="display-1 collection_carousel_main_title {{ section.settings.heading_tag }}">
                          <a href="{{ block.settings.collection_select.url }}">
                          {%- if block.settings.collection_heading != blank -%}
                            {{ block.settings.collection_heading }}
                            {%- else -%}
                          {{ block.settings.collection_select.title }}
                        {%- endif -%}
                          </a>
                        </div>
                        <span class="sub-title">{{ block.settings.collection_select.products_count }}
                          {%- if block.settings.collection_select != blank -%}
                          {%- if block.settings.collection_select.products_count <= 1 -%}
                           Item
                           {%- else -%}
                           Items
                          {%- endif -%}
                          {%- else -%}
                         0 Item
                        {%- endif -%}
                           </span> 
                    </div>
                  {%- endif -%}
                  
                    <div class="collection_carousel_button">
                        <a class="collection_carousel_btn" href="
                        {%- if block.settings.collection_button_link != blank -%}
                        {{ block.settings.collection_button_link }}
                        {%- else -%}
                        {{ block.settings.collection_select.url }}
                        {%- endif -%}
                         ">
                          {{ block.settings.collection_button }}
                            <span>
                                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.70697 11.707L7.41397 5.99997L1.70697 0.292969L0.292969 1.70697L4.58597 5.99997L0.292969 10.293L1.70697 11.707Z" fill="white"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

 <!-- end: Collection Section -->

{% schema %}
{
  "name": "Collection Carousel",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "heading_tag",
      "label": "Heading tag",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 352
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 352
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection Carousel",
      "settings": [
        {
        "type": "collection",
        "id": "collection_select",
        "label": "Select Collection"
        },
        {
          "type": "color",
          "id": "collection_bg_color",
          "label": "Background Color",
          "default": "#f3f3f3"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Collection Image"
        },
        {
          "type": "text",
          "id": "collection_heading",
          "label": "Heading",
          "default": "Elevated Streetwear",
          "info": "If left blank, the collection name will be used."
        },
        {
          "type": "text",
          "id": "collection_featured",
          "label": "Badge",
          "default": "Featured Collection"
        },
        {
          "type": "text",
          "id": "collection_button",
          "label": "Button Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "collection_button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Carousel",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
