{{ 'component-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-scrollbar.js' | asset_url }}" defer="defer"></script>


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }
  @media screen and (min-width: 992px) { 
  .collection_wrapper {
    grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr); 
}
}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="collection-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    {% if section.settings.section_title != blank %}
      <div class="section_title">
          <h1>{{ section.settings.section_title }}</h1>
      </div> 
    {% endif %}
    <div class="custom-scroller-wrapper">
      <div class="collection_wrapper custom-scroller"> 
       {%- for block in section.blocks -%}
         <div class="collection_item flex center" {{ block.shopify_attributes }}> 
         <a {% if block.settings.collection == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.collection.url }}" {% endif %} class="item_inner">
           {%- if block.settings.collection_img -%}
             {{ block.settings.collection_img | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
           {%- elsif block.settings.collection.featured_image -%} 
             <img
               srcset="
                 {%- if block.settings.collection.featured_image.width >= 165 -%}{{ block.settings.collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
                 {%- if block.settings.collection.featured_image.width >= 330 -%}{{ block.settings.collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
                 {%- if block.settings.collection.featured_image.width >= 535 -%}{{ block.settings.collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
                 {%- if block.settings.collection.featured_image.width >= 750 -%}{{ block.settings.collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
                 {%- if block.settings.collection.featured_image.width >= 1000 -%}{{ block.settings.collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                 {%- if block.settings.collection.featured_image.width >= 1500 -%}{{ block.settings.collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                 {%- if block.settings.collection.featured_image.width >= 3000 -%}{{ block.settings.collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                 {{ block.settings.collection.featured_image | image_url }} {{ block.settings.collection.featured_image.width }}w
               "
               src="{{ block.settings.collection.featured_image | image_url: width: 1500 }}"
               sizes="
                 (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
                 (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
                 calc(100vw - 3rem)
               "
               alt="{{ block.settings.collection.featured_image.alt | escape }}"
               height="{{ block.settings.collection.featured_image.height }}"
               width="{{ block.settings.collection.featured_image.width }}"
               loading="lazy"
               class="motion-reduce"
             >
           {%- else -%} 
             {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
             {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
             {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
           {%- endif -%}
         
           <span class="title-wrapper">
             <span class="title"> 
               {%- if block.settings.collection.title != blank -%}
                 {{- block.settings.collection.title -}} 
               {%- else -%}{{ 'onboarding.collection_title' | t }}
               {%- endif -%}
             </span>
           </span>
         </a>
         
         </div>
       {%- endfor -%}    
  
      </div>
      <div class="scrollbar">
       <div class="scroll-thumb"></div>
     </div>
    </div>
  </div> 
</section>

{% schema %}
{
  "name": "Collection List",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "inline_richtext",
      "id": "section_title",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 6,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "collection_img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
