{{ 'snazzy-collection-tab.css' | asset_url | stylesheet_tag }}
{{ 'snazzy-tab.css' | asset_url | stylesheet_tag }}
{{ 'product-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'snazzy-tab.js' | asset_url }}" defer></script>

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.65 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.65 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

  {% for block in section.blocks %}
    .collection-tab .product-grid-{{block.id}}{
      grid-template-columns: repeat({{block.settings.item_count}}, 1fr);
    }
  {% endfor %}
{%- endstyle -%}
<section class="collection-tab section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="tabs-section">
    <snazzy-tab>
      <div class="page-width">
        <div class="tab-header flex wrap space-between align-items-center">
          <div class="section-title">
            <h1 class="sec_title">{{ section.settings.section_heading }}</h1>
          </div>
          <div class="scroller-wrapper">
            <div class="scroll-width">
              <div class="snazzy-tab-buttons flex wrap align-items-center no-scrollbar">
                {% for block in section.blocks %}
                  {% assign collection = collections[block.settings.collection_handle] %}
                  <button
                    role="tab"
                    class="snazzy-tab-button {% if forloop.first %}active{% endif %}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.tab_title | default: collection.title }}
                  </button>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-width">
        <div class="snazzy-tab-contents">
          {% for block in section.blocks %}
            {% assign collection = collections[block.settings.collection_handle] %}
            {% assign maximum_product_show = block.settings.item_total %}

            <div class="snazzy-tab-content {% if forloop.first %}active{% endif %}">
              <div class="product-grid product-grid-{{ block.id }}">
                {% if collection.products.size > 0 %}
                  {% for product in collection.products limit: maximum_product_show %}
                    {% render 'product', button: false, product: product %}
                  {% endfor %}
                {% else %}
                  {% for i in (1..maximum_product_show) %}
                    {% render 'product-placeholder', index: forloop.index %}
                  {% endfor %}
                {% endif %}
              </div>
              {% if collection.products.size > maximum_product_show %}
                <div class="view-all-btn-wrapper flex justify-content-center">
                  <a class="snazzy-icon-btn btn-with-border" href="{{ collection.url }}"
                    >{{ 'sections.collection_tab.title' | t }}<span>{{- 'icon-caret.svg' | inline_asset_content -}}</span></a
                  >
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </snazzy-tab>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.collection-tab.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.collection-tab.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "section_heading",
      "default": "PRODUCT",
      "label": "t:sections.collection-tab.settings.section_heading.label"
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "t:sections.collection-tab.settings.ratio.label",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.collection-tab.settings.ratio.options__auto.label"
        },
        {
          "value": "1",
          "label": "t:sections.collection-tab.settings.ratio.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.collection-tab.settings.ratio.options__2.label"
        }
      ],
      "default": "auto"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.collection-tab.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection_handle",
          "label": "t:sections.collection-tab.blocks.collection.settings.collection_handle.label"
        },
        {
          "type": "text",
          "id": "tab_title",
          "label": "t:sections.collection-tab.blocks.collection.settings.tab_title.label",
          "info": "t:sections.collection-tab.blocks.collection.settings.tab_title.info",
          "default": "Collection"
        },
        {
          "type": "range",
          "id": "item_total",
          "min": 2,
          "max": 12,
          "step": 1,
          "label": "t:sections.collection-tab.blocks.collection.settings.item_total.label",
          "default": 4
        },
        {
          "type": "range",
          "id": "item_count",
          "min": 2,
          "max": 6,
          "step": 1,
          "label": "t:sections.collection-tab.blocks.collection.settings.item_count.label",
          "default": 4
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-tab.presets.name",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "tab_title": "t:sections.collection-tab.presets.block.settings.tab_title.label"
          }
        },
        {
          "type": "collection",
          "settings": {
            "tab_title": "t:sections.collection-tab.presets.block.settings.best_seller.label"
          }
        },
        {
          "type": "collection",
          "settings": {
            "tab_title": "t:sections.collection-tab.presets.block.settings.new_arrivals.label"
          }
        }
      ]
    }
  ]
}
{% endschema %}
