{{ 'component-collection-carousel.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
    }
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {% for block in section.blocks %}
     .collection_carousel_item.block-bg-{{ block.id }}{
      background-color: {{ block.settings.collection_bg_color }};
     }
  {% endfor %}
{%- endstyle -%}

<section class="collection-carousel-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <items-carousel>
      <div
        class="carousel items-carousel-selector"
        data-flickity='{"contain": true, "prevNextButtons": true, "pageDots": false}'
      >
        {%- for block in section.blocks -%}
          <div class="collection_carousel_item block-bg-{{ block.id }}" {{ block.shopify_attributes }}>
            <div class="collection_carousel_images">
              {%- if block.settings.collection_image != blank or block.settings.collection_select.image != blank -%}
                <a
                  {% if block.settings.collection_select == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.collection_select.url }}"
                  {% endif %}
                >
                  {%- if block.settings.collection_image != blank -%}
                    {{
                      block.settings.collection_image
                      | image_url: width: 1500
                      | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
                    }}
                  {%- else -%}
                    {{
                      block.settings.collection_select.image
                      | image_url: width: 1500
                      | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
                    }}
                  {%- endif -%}
                </a>
              {%- else -%}
                {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            <div class="collection_carousel_content">
              <span class="subTitle">{{ block.settings.collection_featured }}</span>

              {%- if block.settings.collection_heading != blank or block.settings.collection_select != blank -%}
                <div class="collection_carousel_text">
                  <h2 class="display-1 collection_carousel_main_title">
                    <a
                      {% if block.settings.collection_select == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.collection_select.url }}"
                      {% endif %}
                    >
                      {%- if block.settings.collection_select.title != blank -%}
                        {{ block.settings.collection_select.title }}
                      {%- else -%}
                        {{ block.settings.collection_heading }}
                      {%- endif -%}
                    </a>
                  </h2>
                  <span class="sub-title">
                    {{- block.settings.collection_select.products_count }}
                    {%- if block.settings.collection_select != blank -%}
                      {%- if block.settings.collection_select.products_count <= 1 -%}
                        {{ 'sections.collection_carousel.item' | t }}
                      {%- else -%}
                        {{ 'sections.collection_carousel.items' | t }}
                      {%- endif -%}
                    {%- else -%}
                      0 {{ 'sections.collection_carousel.item' | t }}
                    {%- endif -%}
                  </span>
                </div>
              {%- endif -%}

              <div class="collection_carousel_button">
                <a
                  class="collection_carousel_btn"
                  {% if block.settings.collection_select == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.collection_select.url }}"
                  {% endif %}
                >
                  {{ block.settings.collection_button }}
                  <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </items-carousel>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.collection-carousel.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.collection-carousel.settings.section_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "t:sections.collection-carousel.blocks.collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection_select",
          "label": "t:sections.collection-carousel.blocks.collection.settings.collection_select.label"
        },
        {
          "type": "color",
          "id": "collection_bg_color",
          "label": "t:sections.collection-carousel.blocks.collection.settings.collection_bg_color.label",
          "default": "#f3f3f3"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "t:sections.collection-carousel.blocks.collection.settings.collection_image.label"
        },
        {
          "type": "text",
          "id": "collection_heading",
          "label": "t:sections.collection-carousel.blocks.collection.settings.collection_heading.label",
          "default": "t:sections.collection-carousel.blocks.collection.settings.collection_heading.default",
          "info": "t:sections.collection-carousel.blocks.collection.settings.collection_heading.info"
        },
        {
          "type": "text",
          "id": "collection_featured",
          "label": "t:sections.collection-carousel.blocks.collection.settings.collection_featured.label",
          "default": "t:sections.collection-carousel.blocks.collection.settings.collection_featured.default"
        },
        {
          "type": "text",
          "id": "collection_button",
          "label": "t:sections.collection-carousel.blocks.collection.settings.collection_button.label",
          "default": "t:sections.collection-carousel.blocks.collection.settings.collection_button.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-carousel.presets.name",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "collection_bg_color": "#F88E24"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection_bg_color": "#399965"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection_bg_color": "#0183D5"
          }
        },
        {
          "type": "collection",
          "settings": {
            "collection_bg_color": "#FE3D83"
          }
        }
      ]
    }
  ]
}
{% endschema %}
