{{ 'component-community-stories.css' | asset_url | stylesheet_tag }}
{{ 'component-heading.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
 
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  {%- for block in section.blocks -%}
  .id-{{ block.id }} .slider_community_images::before{
    opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
  }
{% endfor %}
{%- endstyle -%}


   <!-- start: Slider Community Section -->
   <section class="slider-community-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
       <div class="heading_area anim-item">
          <h2 class="sec_title">{{ section.settings.community_heading }}</h2>
       </div>
       <div class="slider_community_wrapper">
        <items-carousel>
          <div class="carousel items-carousel-selector" data-flickity='{"contain": true, "prevNextButtons": true, "pageDots": false}'>
            {%- for block in section.blocks -%}
             <div class="slider_community_item id-{{ block.id }}">
              <div class="anim-item">
           
                  <div class="slider_community_images">
              {%- if block.settings.product_image != blank -%}       
                  <a href="{{ block.settings.product_image | image_url }}">
                      {{ block.settings.product_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                  </a>
              {%- elsif block.settings.product_select and block.settings.product_select.featured_image != blank -%}
                  <a href="{{ block.settings.product_select.url }}">
                      {{ block.settings.product_select.featured_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                  </a>
              {%- else -%}
                  {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                  {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                  <div class="placeholder-wrapper">
                      {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
              {%- endif -%}
                </div>


                   <div class="slider_community_content_box">
                    <a href="{{ block.settings.product_select.url }}">
                      <div class="slider_community_thumb">
                        {%- if block.settings.product_select.featured_image != blank -%}
                        {{ block.settings.product_select.featured_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                        {%- else -%}
                        {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                        {%- assign placeholder_image = 'product-apparel-' | append: placeholder_image_index -%}
                        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                        {%- endif -%}
                      </div>
                      </a>
                      <div class="slider_community_text">
                         <h6 class="slider_community_title">
                          <a href="{{ block.settings.product_select.url }}">
                            {%- if block.settings.product_select != blank -%}
                              {{ block.settings.product_select.title }}
                              {%- else -%}
                              Product Name
                            {%- endif -%}
                            </a></h6>
                            {% if block.settings.product_select.price != blank %}
                         {% if block.settings.product_select.compare_at_price > block.settings.product_select.price %}
                              <div class="slider_community_percent active">
                                {{ block.settings.product_select.price | money }}
                                <span>{{ block.settings.product_select.compare_at_price | money }}</span>
                              </div>
                          {% else %}
                          <div class="slider_community_percent">{{ block.settings.product_select.price | money }}</div>
                          {% endif %}
                          {% else %}
                          <div class="slider_community_percent">$00.00</div>
                        {% endif %}
                      </div>
                   </div>
                  </div>
             </div>
            {% endfor %}
          </div>
        </items-carousel>
       </div>
       </div>
 </section>
 <!-- end: Slider Community Section -->

{% schema %}
{
  "name": "Community stories",
  "settings": [
    {
      "type": "text",
      "id": "community_heading",
      "label": "Community heading",
      "default": "Community stories"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 352
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 352
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product carousel",
      "settings": [
        {
        "type": "product",
        "id": "product_select",
        "label": "Select product"
        },
        {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 70,
      "unit": "%"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Community stories",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
