{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign social_icons = true
  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
    assign social_icons = false
  endif
-%}

<section class="contact-main-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div
      class="contact_main_wrapper {% if section.blocks.size > 0 %}has-block{% endif %}"
    >
      {% if section.blocks.size != 0 %}
        <div class="contact_left_content ">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'contact_address' %}
                <div class="block-wrapper" {{ block.shopify_attributes }}>
                  <h4 class="contact_left_title">{{ block.settings.contact_title }}</h4>
                  <div class="contact_item_wrap">
                    <div class="contact_item">
                      <h6 class="contact_title">{{ block.settings.address_title }}</h6>
                      <span class="contact_subTitle">{{ block.settings.address }}</span>
                    </div>
                    <div class="contact_item">
                      <h6 class="contact_title">{{ block.settings.email_title }}</h6>
                      <a class="contact_link" href="mailto:{{ block.settings.email }}">{{ block.settings.email }}</a>
                    </div>
                    <div class="contact_item">
                      <h6 class="contact_title">{{ block.settings.phone_title }}</h6>
                      <a class="contact_link" href="tel:{{ block.settings.phone }}">{{ block.settings.phone }}</a>
                    </div>
                  </div>
                </div>
              {% when 'social_share' %}
                <div class="contact_item_socials" {{ block.shopify_attributes }}>
                  {% if block.settings.social_title != blank %}
                    <h4 class="contact_left_title">{{ block.settings.social_title }}</h4>
                  {% endif %}
                  {%- if  social_icons -%}
                    {%- render 'social-icons' -%}
                  {%- endif -%}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="contact_form_box_one">
        {%- form 'contact' -%}
          <h2 class="form_title">{{ section.settings.section_title }}</h2>
          <div class="form_desc">{{ section.settings.section_description }}</div>
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
              {{- 'icon-success.svg' | inline_asset_content -}}
              {{ 'templates.contact.form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {{- 'icon-error.svg' | inline_asset_content -}}
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
          {%- endif -%}

          <div class="form_item">
            <div class="form-input ">
              <label for="name">Name <span>*</span></label>
              <input
                autocomplete="name"
                type="text"
                id="ContactForm-name"
                name="contact[{{ 'templates.contact.form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'name' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-name-error"
                {% endif %}
                placeholder="{{ 'templates.contact.form.name' | t }}"
              >
            </div>
            <div class="form-input ">
              <label for="email">E-mail <span>*</span></label>
              <input
                autocomplete="email"
                type="email"
                id="ContactForm-email"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ContactForm-email-error"
                {% endif %}
                placeholder="Enter Your E-mail"
              >
              {% if form.errors %}
                <ul class="form-status-list caption-large" role="list">
                  <li>
                    <a href="#ContactForm-email" class="link">
                      {{ form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email }}
                    </a>
                  </li>
                </ul>
              {% endif %}
            </div>
            <div class="form-input textarea_form ">
              <label for="message">Message <span>*</span></label>
              <textarea
                rows="10"
                id="ContactForm-body"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                aria-required="true"
                placeholder="Write Your Massage"
              >
            {{- form.body -}}
            </textarea>
            </div>
            <div class="form_button ">
              <button type="submit" class="submit-btn">
                {{ 'templates.contact.form.send' | t }}
                <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span>
              </button>
            </div>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact form",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title",
      "default": "Contact Us"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section description",
      "default": "<p>If you have any questions, feel free to reach out to us.</p>"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "contact_address",
      "name": "Contact information",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "contact_title",
          "label": "Section Title",
          "default": "Contact"
        },
        {
          "type": "header",
          "content": "Address"
        },
        {
          "type": "text",
          "id": "address_title",
          "label": "Title",
          "default": "Address"
        },
        {
          "type": "text",
          "id": "address",
          "label": "Details",
          "default": "141 Duane St, New York, NY 10013"
        },
                {
          "type": "header",
          "content": "Email"
        },
        {
          "type": "text",
          "id": "email_title",
          "label": "Title",
          "default": "E-mail"
        },
        {
          "type": "text",
          "id": "email",
          "label": "Details",
          "default": "helpcenter@dapper.com"
        },
                {
          "type": "header",
          "content": "Phone"
        },
        {
          "type": "text",
          "id": "phone_title",
          "label": "Title",
          "default": "Hotline"
        },
        {
          "type": "text",
          "id": "phone",
          "label": "Details",
          "default": "+1 914 677 07777"
        }
      ]
    },
    {
      "type": "social_share",
      "name": "Social link",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "social_title",
          "label": "Social Title",
          "default": "Socials"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact form",
      "category": "Custom"
    }
  ]
}
{% endschema %}
