{% comment %} <section class="faq-main-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="faq_main_wrapper">
      <div class="accordion_main_content">
        {%- for block in section.blocks -%}
            <div class="accordion faq_tabs"  {{ block.shopify_attributes }}>
              {%- if block.settings.faq_title != blank -%}
                <h4 class="faq_title">{{ block.settings.faq_title }}</h4>
              {%- endif -%}
              {% if block.settings.faq_heading != blank and block.settings.faq_description != blank %}
                <faq-accordion>
                  <div class="accordion-wrapper">
                    <button aria-expanded="false">
                      <span class="accordion-title">{{ block.settings.faq_heading }}</span><span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion_content">
                      <div class="accordion_desc">{{ block.settings.faq_description }}</div>
                    </div>
                  </div>
                </faq-accordion>
              {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> {% endcomment %}

{{ 'component-faq.css' | asset_url | stylesheet_tag }}
<script src="{{ 'faq-item.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign opened_category = false %}
{% assign default_category_opened = false %}
<section class="faq-main-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="faq_main_wrapper">

       {% if section.settings.left_title != blank or section.settings.left_paragraph != blank %}
        <div class="faq_left_content">
          <h3 class="faq_left_title">{{ section.settings.left_title }}</h3>
          <div class="faq_left_desc">
            <div class="faq__desc">{{ section.settings.left_paragraph}}</div>
          </div>
        </div>
       {% endif %}

      <div class="accordion_main_content">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'faq_category_title' %}
              {% if opened_category or default_category_opened %}
                </div> 
              {% endif %}
              <div class="accordion faq_tabs">
                <h4 class="faq_title" {{ block.shopify_attributes }}>{{ block.settings.category_title }}</h4>
              {% assign opened_category = true %}
              {% assign default_category_opened = false %}

            {% when 'faq_item' %}
              {% unless opened_category %}
                {% unless default_category_opened %}
                  <div class="accordion faq_tabs">
                  {% assign default_category_opened = true %}
                {% endunless %}
              {% endunless %}
              <faq-accordion>
              <div class="accordion-wrapper" {{ block.shopify_attributes }}>
                <button id="accordion-button-{{ forloop.index }}" aria-expanded="false">
                  <span class="accordion-title">{{ block.settings.question }}</span>
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion_content">
                  <p class="accordion_desc">{{ block.settings.answer }}</p>
                </div>
              </div>
              </faq-accordion>
          {% endcase %}
        {% endfor %}
        {% if opened_category or default_category_opened %}
          </div> 
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "faq-main-section",
  "settings": [
        {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "left_title",
      "label": "Section title",
      "default": "Need help?"
    },
    {
      "type": "richtext",
      "id": "left_paragraph",
      "label": "Section description",
      "default": "<p>If you have an issue or question that requires immediate assistance, you can <a href=\"#\">contact us</a> to chat with a customer service representative.</p>"
    },
        {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "faq_category_title",
      "name": "Title",
      "settings": [
        {
          "type": "text",
          "id": "category_title",
          "label": "Category Title",
          "default": "Category Title"
        }
      ]
    },
    {
      "type": "faq_item",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "How long does shipping take?"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer",
          "default": "Orders are typically processed within 1 to3 business days. Delivery times vary based on the shipping method selected."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Section",
      "blocks": [
        {
          "type": "faq_category_title"
        },
        {
          "type": "faq_item"
        },
        {
          "type": "faq_category_title"
        },
        {
          "type": "faq_item"
        }
      ]
    }
  ]
}
{% endschema %}
