{{ 'featured-blog.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
  @media screen and (min-width: 768px) {
    .tab_main_wrapper {
        grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr);
    }
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  /* #shopify-section-{{section.id}}{
  /* #shopify-section-{{section.id}}{
    margin-top: -60px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    overflow: hidden;
    position: relative;


  } */
   {%- if section.settings.show_image  == false -%}
      .blog_feature_item {
          grid-template-columns: 1fr;
      }
    {%- endif -%}
{%- endstyle -%}
<!-- start: Blog Feature Section -->
{% if section.settings.selected_article != blank %}
  {% assign article = section.settings.selected_article %}
{% else %}
  {% assign article = blogs.news.articles.first %}
{% endif %}
<section class="blog-feature-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="blog_feature_wrapper">
      {%- if article -%}
        <div class="blog_feature_item grid color-{{ section.settings.color_scheme }}">
          <div class="blog_feature_content">
            {% if section.settings.show_tags < 0
              or section.settings.show_tags == true
              or section.settings.show_date == true
            %}
              <div class="anim-item blog_category">
                {%- if section.settings.show_tags -%}
                  {% if article.tags.size > 0 and section.settings.show_tags %}
                    {% for tag in article.tags %}
                      <div class="category_text">
                        <span class="blog_anim">
                          <span class="anim_text">
                            {{ tag | link_to_tag: tag }}
                          </span>
                        </span>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endif %}

                {%- if section.settings.show_date -%}
                  {% if article.published_at %}
                    <a class="category_text" href="{{ article.url }}">
                      <span class="blog_anim">
                        <span class="anim_text">
                          {{ article.published_at | date: '%b %d, %Y' }}
                        </span>
                      </span>
                    </a>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
            <h4 class="anim-item">
              <a
                class="blog_feature_title"
                {% if article == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ article.url }}"
                {% endif %}
              >
                {% if article.title != blank %}
                  {{ article.title }}
                {% else %}
                  {{ 'sections.featured_blog.blog_title' | t }}
                {% endif %}
              </a>
            </h4>
            {% if section.settings.show_excerpt and article.excerpt != blank %}
              <p class="anim-item blog_desc">{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
            {% endif %}
            {% if section.settings.section_button != blank %}
              <div class="anim-item blog_feature_button">
                <a class="blog-feature-btn" href="{{ article.url }}">
                  {{ section.settings.section_button }}
                  <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span></a
                >
              </div>
            {% endif %}
          </div>
          {%- if section.settings.show_image -%}
            <div class="blog_feature_images">
              <a
                {% if article == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ article.url }}"
                {% endif %}
                class="media-img-abs"
              >
                {%- if article.image != blank -%}
     
                    {% render 'the-img', image: article.image %}
            
                {%- else -%}
                  {{ 'collection-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>
<!-- end: Blog Feature Section -->
{% schema %}
{
  "name": "t:sections.featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "article",
      "id": "selected_article",
      "label": "t:sections.featured-blog.settings.selected_article.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_excerpt.label"
    },
    {
      "type": "text",
      "id": "section_button",
      "label": "t:sections.featured-blog.settings.section_button.label",
      "default": "t:sections.featured-blog.settings.section_button.default"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
