{{ 'featured-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
 
  @media screen and (min-width: 800px) { 
    .tab_main_wrapper {
    grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr); 
}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}
   <!-- start: Blog Feature Section -->
   {% if section.settings.selected_article %}
    {% assign article = section.settings.selected_article %}
  {% else %}
    {% assign article = blogs['news'].articles.first %}
  {% endif %}
  
  <section class="blog-feature-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
      <div class="page-width">
         <div class="blog_feature_wrapper">
            {%- if article -%}
            <div class="blog_feature_item" style="background-color: {{ section.settings.blog_bg_color }};">
               <div class="blog_feature_content">
                  <div class="blog_category">
                     <ul>
                      {%- if section.settings.show_tags -%}
                      {% if article.tags.size > 0 %}
                            <li><a href="{{ article.url }}">{{ article.tags | first }}</a></li>
                        {% else %}
                            <li><a href="#">Trend Area</a></li>
                        {% endif %}
                        {% endif %}
                        {%- if section.settings.show_date -%}
                        {% if article.published_at %}
                          <li>{{ article.published_at | date: "%b %d, %Y" }}</li>
                      {% else %}
                          <li>12-25-2025</li>
                      {% endif %}
                      {% endif %}
                     </ul>
                  </div>
                  <h4><a class="blog_feature_title" href="{{ article.url }}">
                    <h4>
                        <a class="blog_feature_title" href="{{ article.url }}">
                            {% if article.title != blank %}
                                {{ article.title }}
                            {% else %}
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            {% endif %}
                        </a>
                    </h4>
                    </a></h4>
                  <p class="blog_desc">{{ article.excerpt | truncatewords: 20 }}</p>
                  <div class="blog_feature_button">
                     <a class="blog-feature-btn" href="{{ article.url }}">Read more
                        <span><svg width="8" height="12" viewBox="0 0 8 12" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M1.70697 11.707L7.41397 5.99997L1.70697 0.292969L0.292969 1.70697L4.58597 5.99997L0.292969 10.293L1.70697 11.707Z"
                                 fill="white" />
                           </svg>
                           </span>
                     </a>
                  </div>
               </div>
               {%- if section.settings.show_image -%}
               <div class="blog_feature_images">
                  <a href="{{ article.url }}">
                  {%- if section.settings.selected_article != blank -%}
                    <img src="{{ article.image | image_url: width: 533 }}" alt="{{ article.image.alt | escape }}" loading="lazy" width="{{ article.image.width }}" height="{{ article.image.height }}" >
                  {%- else -%}
                  {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                  {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                  {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
                  </a>
               </div>
              {%- endif -%}
            </div>
            {%- endif -%}
         </div>
      </div>
   </section>  
 <!-- end: Blog Feature Section -->
 {% schema %}
    {
      "name": "Feature Blog Post",
      "tag": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      }, 
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Featured Blog",
          "label": "Heading"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color Scheme",
          "info": "t:sections.all.colors.has_cards_info",
          "default": "scheme-1"
        },
        {
        "type": "article",
        "id": "selected_article",
        "label": "Select a Blog Post"
        },
        {
          "type": "color",
          "id": "blog_bg_color",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "default": true,
          "label": "Show Featured Image"
        },
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "Show Date"
        },
        {
          "type": "checkbox",
          "id": "show_tags",
          "default": true,
          "label": "Show Tags"
        },
        {
          "type": "header",
          "content": "Padding Section"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "Top Padding",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 36
        }
      ],
      "presets": [
        {
          "name": "Feature Blog Post"
        }
      ]
    }
    {% endschema %}