{{ 'component-collection.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-scrollbar.js' | asset_url }}" defer="defer"></script>
{{ 'component-gallery.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (min-width: 768px){
    .gallery-section .galley_item {
        width: calc(100% / {{ section.settings.columns_desktop }});
    }
  }
  .id-{{ section.id }} .galley_item .gallery_images::before{
    opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}
<section class="gallery-section id-{{ section.id }} section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="gallery_wrapper">
      <items-carousel>
        <div
          class="carousel items-carousel-selector"
          data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": true, "pageDots": false}'
        >
          {%- for block in section.blocks -%}
            <div class="galley_item" {{ block.shopify_attributes }}>
              <div class="gallery_images">
                {%- if block.settings.gallery_image != blank -%}
                  {{
                    block.settings.gallery_image
                    | image_url: width: 1500
                    | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
                  }}
                {%- else -%}
                  {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                  {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                  {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
                <div class="gallery-icons">
                  <a
                    {% if block.settings.icon_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.icon_link}}"
                    {% endif %}
                  >
                    {{ block.settings.button_icon_svg }}
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </items-carousel>
      <div class="for-mobile custom-scroller-wrapper carousel-wrapper">
        <div class="custom-scroller flex">
                    {%- for block in section.blocks -%}
              <div class="galley_item" {{ block.shopify_attributes }}>
                <div class="gallery_images">
                  {%- if block.settings.gallery_image != blank -%}
                    {{
                      block.settings.gallery_image
                      | image_url: width: 1500
                      | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
                    }}
                  {%- else -%}
                    {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                    {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                    {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}
                  <div class="gallery-icons">
                    <a {% if block.settings.icon_link == blank %} role="link" aria-disabled="true" {% else %} href="{{ block.settings.icon_link}}" {% endif %}>
                      {{ block.settings.button_icon_svg }}
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
           <div class="scrollbar"><div class="scroll-thumb"></div></div>
      </div>
      {%- if section.settings.tab_button != blank -%}
        <div class="gallery_button">
          <a class="gallery-btn" href="{{ section.settings.button_link }}">
            {{- section.settings.tab_button -}}
            <span>
                {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image gallery",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 5,
      "label": "t:sections.collection-list.settings.columns_desktop.label"
    },
    {
      "type": "text",
      "id": "tab_button",
      "label": "Button Text",
      "default": "EXPLORE MORE"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Overlay opacity",
      "default": 70,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "Item",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "gallery_image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "button_icon_svg",
          "label": "Button Icon (SVG Code)",
          "default": "<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z' fill='currentColor'/></svg>"
        },
        {
          "type": "url",
          "id": "icon_link",
          "label": "Icon Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery",
      "blocks": [
        {
          "type": "Item"
        },
        {
          "type": "Item"
        },
        {
          "type": "Item"
        },
        {
          "type": "Item"
        },
        {
          "type": "Item"
        }
      ]
    }
  ]
}
{% endschema %}
