
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{% style %}
    .snazzy-header .header-inner{
        padding: {{ section.settings.padding_top}}px 0 {{ section.settings.padding_bottom}}px 0;
    }
    {%- if section.settings.enable_overlay_header == true -%}
        .snazzy-header observed-height{
            display: block;
            margin-bottom: calc(var(--observed-height)* -1);
        }
    {%- endif -%}
{% endstyle %}
<header class="snazzy-header rounded-top-corner header-wrapper {% if section.settings.enable_overlay_header == true %} overlay-header{% endif %}">
    <div class="page-width">
        <observed-height>
            <div class="header-inner grid align-items-center">
                    {% comment %} Menu {% endcomment %}
                        {% render  'header-dropdown-menu'%}
                    {% comment %} Logo {% endcomment %}
                        {%- if request.page_type == 'index' -%}
                            <h6 class="header-heading">
                        {%- endif -%}
                                <a href="{{ routes.root_url }}" class="header-heading-link flex justify-content-center">
                                    {%- if settings.logo != blank or settings.logo-two != blank -%}
                                    <div class="header-heading-logo-wrapper flex {% if settings.logo_two and section.settings.enable_overlay_header == true %}has-second-logo{% endif %}">
                                        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                                        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                                        {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                                        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                                    {% if settings.logo != blank %}
                                        {{ settings.logo | image_url: width: 600 | image_tag:
                                            class: 'header-heading-logo',
                                            widths: widths,
                                            height: logo_height,
                                            width: settings.logo_width,
                                            alt: logo_alt,
                                            sizes: sizes,
                                            preload: true
                                        }}
                                    {% endif %}
                                        {% if settings.logo_two != blank and section.settings.enable_overlay_header == true %}
                                            {{ settings.logo_two | image_url: width: 600 | image_tag:
                                            class: 'header-heading-logo-two',
                                            widths: widths,
                                            height: logo_height,
                                            width: settings.logo_width,
                                            alt: logo_alt,
                                            sizes: sizes,
                                            preload: true
                                            }}
                                            
                                        {% endif %}
                                    </div>
                                    {%- else -%}
                                    <span class="h4">{{ shop.name }}</span>
                                    {%- endif -%}
                                </a>
                        {%- if request.page_type == 'index' -%}
                            </h6>
                        {%- endif -%}
                    {% comment %} icon {% endcomment %}
                        <div class="header-icons-group flex align-items-center justify-content-end">
                            <div class="header-country-language flex align-items-center wrap md-none">
                                {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                                    <localization-form class="" data-prevent-hide>
                                    {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
                                        <div>
                                        {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
                                        </div>
                                    {%- endform -%}
                                    </localization-form>
                                {% endif %}
                    
                                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                                    <localization-form class="" data-prevent-hide>
                                    {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
                                        <div>
                                        {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
                                        </div>
                                    {%- endform -%}
                                    </localization-form>
                                {%- endif -%}
                            </div>
                            <div class="header-icons flex align-items-center">
                                <button class="flex" id="search-toggle" role="button" aria-controls="search-drawer" aria-expanded="false" aria-label="Search">
                                    {{- 'icon-search.svg' | inline_asset_content -}}
                                  </button>
                    
                                {%- if shop.customer_accounts_enabled -%}
                                    <a
                                    href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                                    class="header__icon--account focus-inset{% if section.settings.menu != blank %}{% endif %}"
                                    rel="nofollow"
                                    >
                                    {%- if section.settings.enable_customer_avatar -%}
                                        <account-icon>
                                        {%- if customer and customer.has_avatar? -%}
                                            {{ customer | avatar }}
                                        {%- else -%}
                                            <span class="flex">{{ 'icon-account.svg' | inline_asset_content }}</span>
                                        {%- endif -%}
                                        </account-icon>
                                    {%- else -%}
                                        <span class="flex">{{ 'icon-account.svg' | inline_asset_content }}</span>
                                    {%- endif -%}
                                    <span class="visually-hidden">
                                        {%- liquid
                                        if customer
                                            echo 'customer.account_fallback' | t
                                        else
                                            echo 'customer.log_in' | t
                                        endif
                                        -%}
                                    </span>
                                    </a>
                                {%- endif -%}
                    
                                <a href="{{ routes.cart_url }}" class="header__icon--cart flex align-items-center" id="cart-icon-bubble">
                                    {% if cart == empty %}
                                        <span class="flex">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
                                    {% else %}
                                        <span class="flex">{{'icon-cart.svg' | inline_asset_content }}</span>
                                    {% endif %}
                                    {%- if cart != empty -%}
                                    <div class="cart-count-bubble flex center">
                                        {%- if cart.item_count < 100 -%}
                                        <span aria-hidden="true">{{ cart.item_count }}</span>
                                        {%- endif -%}
                                    </div>
                                    {%- endif -%}
                                </a>
                            </div>
                        </div>
                </div>
        </observed-height>
    </div>
    {% comment %} <menu-drawer class="fixed w-full h-full-vh" id="sidebar-menu" aria-hidden="true">
          <div class="menu-drawer-header grid align-items-center">
            <button role="button" aria-label="Close" class="close-btn" id="menu-close-btn">
             <span class="flex">
              {{- 'icon-close.svg' | inline_asset_content -}}
             </span>
            </button>
            <div class="logo">
              <a href="{{ routes.root_url }}" class="header-heading-link flex">
                            {%- if settings.logo != blank or settings.logo-two != blank -%}
                            <div class="header-heading-logo-wrapper flex">
                                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                                {% if settings.logo_two != blank %}
                                    {{ settings.logo_two | image_url: width: 600 | image_tag:
                                    class: 'header-heading-logo-two',
                                    widths: widths,
                                    height: logo_height,
                                    width: settings.logo_width,
                                    alt: logo_alt,
                                    sizes: sizes,
                                    preload: true
                                    }}
                                    
                                {% endif %}
                            </div>
                            {%- else -%}
                            <span class="h2">{{ shop.name }}</span>
                            {%- endif -%}
                        </a>
            </div>
            <div class="header-icons flex align-items-center justify-content-end">
              {% render 'header-search', input_id: 'Search-In-Modal' %}
  
              {%- if shop.customer_accounts_enabled -%}
                  <a
                  href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                  class="header__icon--account link focus-inset{% if section.settings.menu != blank %}{% endif %}"
                  rel="nofollow"
                  >
                  {%- if section.settings.enable_customer_avatar -%}
                      <account-icon>
                      {%- if customer and customer.has_avatar? -%}
                          {{ customer | avatar }}
                      {%- else -%}
                          <span class="">{{ 'icon-account.svg' | inline_asset_content }}</span>
                      {%- endif -%}
                      </account-icon>
                  {%- else -%}
                      <span class="">{{ 'icon-account.svg' | inline_asset_content }}</span>
                  {%- endif -%}
                  <span class="visually-hidden">
                      {%- liquid
                      if customer
                          echo 'customer.account_fallback' | t
                      else
                          echo 'customer.log_in' | t
                      endif
                      -%}
                  </span>
                  </a>
              {%- endif -%}
  
              <a href="{{ routes.cart_url }}" class="header__icon--cart link focus-inset" id="cart-icon-bubble">
                  {% if cart == empty %}
                      <span class="">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
                  {% else %}
                      <span class="">{{'icon-cart.svg' | inline_asset_content }}</span>
                  {% endif %}
                  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                  {%- if cart != empty -%}
                  <div class="cart-count-bubble">
                      {%- if cart.item_count < 100 -%}
                      <span aria-hidden="true">{{ cart.item_count }}</span>
                      {%- endif -%}
                      <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                  </div>
                  {%- endif -%}
              </a>
          </div>
          </div>
          <div class="menu-drawer-body"></div>
          <div class="menu-drawer-body"></div>
    </menu-drawer> {% endcomment %}
    </header>
    <div class="header-bg-overlay"></div>
 
{% schema %}
    { 
      "name": "t:sections.header.name",
      "class": "section-header",
      "settings": [
        {
          "type": "link_list", 
          "id": "menu",
          "default": "main-menu",
          "label": "t:sections.header.settings.menu.label"
        },
        {
        "type": "checkbox",
        "id": "enable_overlay_header",
        "default": true,
        "label": "Overlay header"
        },
        {
          "type": "header",
          "content": "t:sections.header.settings.header__1.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        { 
          "type": "color_scheme",
          "id": "menu_color_scheme",
          "label": "t:sections.header.settings.menu_color_scheme.label",
          "default": "scheme-1"
        },
          {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
        {
          "type": "header",
          "content": "t:sections.header.settings.header__7.content",
          "info": "t:sections.header.settings.header__7.info"
        },
        {
          "type": "checkbox",
          "id": "enable_customer_avatar",
          "default": true,
          "label": "t:sections.header.settings.enable_customer_avatar.label",
          "info": "t:sections.header.settings.enable_customer_avatar.info"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 0
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        }
      ],
      "blocks": [
        {
          "type": "@app"
        }
      ]
    }
    {% endschema %}