{{ 'icon-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }
 
  @media screen and (min-width: 992px) { 
    .material_main_wrapper {
      grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr); 
    }
  }
  @media screen and (min-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}
   <section class="section-icon-with-text color-{{ section.settings.color_scheme }}">
    <div class="page-width">
      <div class="section-inner {% if section.settings.border_top %}border-inline-top{% endif %} {% if section.settings.border_bottom %}border-inline-bottom{% endif %} section-{{ section.id }}-padding">
        {% if section.settings.section_title != blank %}
          <div class="heading-area section-icon-with-text-section-heading">
             <h5 class="material_title">{{ section.settings.section_title }}</h5>
          </div>
        {% endif %}
         <div class="material_main_wrapper">
          {%- for block in section.blocks -%}
            <div class="material_item" {{ block.shopify_attributes }}>
               <div class="material_icons">
                      {%- if block.settings.material_image != blank -%}
                        {{ block.settings.material_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                        {%- else -%}
                          {{- 'icon-care.svg' | inline_asset_content -}}
                      {%- endif -%}
               </div>
               {%- if block.settings.material_heading != blank -%}
                <h5 class="anim-item material_item_title">{{ block.settings.material_heading }}</h5>
                {%- endif -%}
            </div>
          {% endfor %}
         </div>
         <div class="material_slider_wrapper material_slider_section">
          <items-carousel>
            <div class="carousel items-carousel-selector" data-flickity='{"contain": true, "prevNextButtons": false, "pageDots": true }'>
                {%- for block in section.blocks -%} 
              <div class="material_item">
                  <div class="material_icons">
                    {%- if block.settings.material_image != blank -%}
                        {{ block.settings.material_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                        {%- else -%}
                          {{- 'icon-care.svg' | inline_asset_content -}}
                      {%- endif -%}
                 </div>
                  {%- if block.settings.material_heading != blank -%}
                      <h5 class="material_item_title">{{ block.settings.material_heading }}</h5>
                    {%- endif -%}
              </div>
            {% endfor %}
            </div>
          </items-carousel>
       </div>
      </div>
    </div>
 </section>

{% schema %}
{
  "name": "t:sections.section-icon-with-text.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "t:sections.section-icon-with-text.settings.show_border.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "border_top",
      "label": "t:sections.section-icon-with-text.settings.border_top.label",
      "default": false,
      "visible_if": "{{ section.settings.show_border }}"
    },
    {
      "type": "checkbox",
      "id": "border_bottom",
      "label": "t:sections.section-icon-with-text.settings.border_bottom.label",
      "default": false,
      "visible_if": "{{ section.settings.show_border }}"
    },
    {
      "type": "text",
      "id": "section_title",
      "default": "We combine high-quality materials with innovative design to create pieces that are as functional as they are fashionable.",
      "label": "t:sections.section-icon-with-text.settings.section_title.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.section-icon-with-text.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "t:sections.section-icon-with-text.blocks.item.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "material_image",
          "label": "t:sections.section-icon-with-text.blocks.item.settings.material_image.label"
        },
        {
          "type": "text",
          "id": "material_heading",
          "label": "t:sections.section-icon-with-text.blocks.item.settings.material_heading.label",
          "default": "Example text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-icon-with-text.presets.name",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
 