{{ 'location.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
 
  @media screen and (min-width: 800px) { 
    .tab_main_wrapper {
    grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr); 
}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}
  <!-- start: FAQ Section -->
  <section class="faq-main-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
       <div class="faq_main_wrapper">
   
        {%- if section.settings.section_heading != blank and section.settings.section_description != blank -%}
          <div class="faq_left_content">
             <h3 class="faq_left_title">{{ section.settings.section_heading }}</h3>
             <div class="faq_left_desc">
                <div class="faq__desc">{{ section.settings.section_description }}</div>
             </div>
          </div>
        {%- endif -%}

          <div class="accordion_main_content">
             <div class="accordion faq_tabs">
                {%- if section.settings.faq_title != blank -%}
                <h4 class="faq_title">{{ section.settings.faq_title }}</h4>
                {%- endif -%}
                {%- for block in section.blocks -%}
                  {%- if block.settings.faq_heading != blank and block.settings.faq_description != blank -%}
                <div class="accordion-style-2">
                   <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">
                    {%- if block.settings.faq_heading != blank -%}
                        {{ block.settings.faq_heading }}
                    {%- endif -%}
                        </span>
                      <span class="icon" aria-hidden="true"></span></button>
                   <div class="accordion_content">
                      <div class="accordion_desc">{{ block.settings.faq_description }}</div>
                   </div>
                </div>
              {%- endif -%}
            {% endfor %}
             </div>
            
          </div>
       </div>
    </div>
 </section>
<!-- end: FAQ Section -->

<!-- start: Contact Section -->
  <section class="contact-tabs-section">
    <div class="page-width">
       <div class="contact_map_wrapper">
          <iframe
             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14606.067940183722!2d90.34947031040731!3d23.764597896928564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c09f9ba3d447%3A0x1babce9f1c6c95a3!2sMohammadpur%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1738834601817!5m2!1sen!2sbd"
             width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
             referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="accordion contact_tabs">
             <h4 class="faq_title">Stores location</h4>

             <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">
                      alabama</span>
                   <span class="icon" aria-hidden="true"></span></button>
                <div class="accordion_content">
                   <span class="faq_location">141 Duane St, New York, NY 10013</span>
                   <a class="faq_link" href="#">+1 914 677 0555</a>
                   <span class="faq_timer">Mon - Sun: 9.00AM - 7.00PM</span>
                </div>
             </div>
             

          </div>
       </div>
    </div>
 </section>
<!-- end: Contact Section -->

<script>
const items = document.querySelectorAll(".accordion button");
function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}
items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>

{% schema %}
{
  "name": "FAQ Section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "default": "Section Heading",
      "label": "Section Heading"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "default": "<p>Section Description</p>",
      "label": "Section Description"
    },
    {
      "type": "text",
      "id": "faq_title",
      "label": "FAQ Information",
      "default": "FAQ Title"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 352
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 352
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ Section",
      "settings": [
        {
          "type": "text",
          "id": "faq_heading",
          "label": "FAQ Subtitle",
          "default": "How To Set Faq Option"
        },
        {
          "type": "richtext",
          "id": "faq_description",
          "label": "FAQ Description",
          "default": "<p>How To Set Faq Option</p>"
        }
      ] 
    }
  ],
  "presets": [
    {
      "name": "FAQ Section",
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}
