{{ 'location.css' | asset_url | stylesheet_tag }}
<script src="{{ 'accordion-item.js' | asset_url }}" defer></script>


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
    }

    @media screen and (min-width: 800px) {
      .tab_main_wrapper {
      grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr);
  }
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

  <section class="contact-tabs-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
       <div class="contact_map_wrapper">
        {%- if section.settings.location_iframe != blank -%}
            {{ section.settings.location_iframe }}
        {%- endif -%}
          <div class="accordion contact_tabs" open-first-item="{{ section.settings.first_item_open }}">
            {%- if section.settings.stores_location != blank -%}
                <h4 class="faq_title">{{ section.settings.stores_location }}</h4>
            {%- endif -%}
            <accordion-item>
             {%- for block in section.blocks -%}
              <accordion-item>
                <button id="accordion-button-{{ forloop.index }}" aria-expanded="{% if forloop.index == 1 %}true{% else %}false{% endif %}"><span class="accordion-title">
                  {%- if block.settings.location_title != blank -%}
                    {{ block.settings.location_title }}
                  {%- endif -%}
                  </span>
                  <span class="icon" aria-hidden="true"></span></button>
                  <div class="accordion_content">
                    {%- if block.settings.location_description != blank -%}
                      <span class="faq_location">{{ block.settings.location_description }}</span>
                    {%- endif -%}
                    {%- if block.settings.store_timing != blank -%}
                      <span class="faq_timer">{{ block.settings.store_timing }}</span>
                    {%- endif -%}
                    </div>
                    </accordion-item>
            {% endfor %}
          </accordion-item>
          </div>
        {% endfor %}
      </div>
    </div>
 </section>

{% schema %}
{
  "name": "t:sections.location_with_map.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "textarea",
      "id": "location_iframe",
      "label": "t:sections.location_with_map.settings.map_iframe.label",
      "default": "<iframe src=\"https://www.google.com/maps/embed?pb=...\" width=\"600\" height=\"450\" style=\"border:0;\" allowfullscreen loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe>"
    },
    {
      "type": "text",
      "id": "stores_location",
      "label": "t:sections.location_with_map.settings.title.label",
      "default": "t:sections.location_with_map.settings.title.default"
    },
    {
      "type": "checkbox",
      "id": "first_item_open",
      "label": "t:sections.location_with_map.settings.first_item_open.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "t:sections.location_with_map.blocks.location.name",
      "settings": [
        {
          "type": "text",
          "id": "location_title",
          "label": "t:sections.location_with_map.blocks.location.settings.location_title.label",
          "default": "t:sections.location_with_map.blocks.location.settings.location_title.default"
        },
        {
          "type": "richtext",
          "id": "location_description",
          "label": "t:sections.location_with_map.blocks.location.settings.location_description.label",
          "default": "t:sections.location_with_map.blocks.location.settings.location_description.default"
        },
        {
          "type": "text",
          "id": "store_timing",
          "label": "t:sections.location_with_map.blocks.location.settings.store_timing.label",
          "default": "t:sections.location_with_map.blocks.location.settings.store_timing.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.location_with_map.presets.name",
      "blocks": [
        { "type": "location" },
        { "type": "location" },
        { "type": "location" },
        { "type": "location" }
      ]
    }
  ]
}
{% endschema %}

