{{ 'location.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
 
  @media screen and (min-width: 800px) { 
    .tab_main_wrapper {
    grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr); 
}
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<!-- start: Contact Section -->
  <section class="contact-tabs-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
       <div class="contact_map_wrapper">
        {%- if section.settings.location_iframe != blank -%}
            {{ section.settings.location_iframe }}
        {%- endif -%}
          <div class="accordion contact_tabs">
            {%- if section.settings.stores_location != blank -%}
                <h4 class="faq_title">{{ section.settings.stores_location }}</h4>
            {%- endif -%}
             {%- for block in section.blocks -%}
             <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">
                    {%- if block.settings.location_title != blank -%}
                        {{ block.settings.location_title }}
                    {%- endif -%}
                      </span>
                   <span class="icon" aria-hidden="true"></span></button>
                <div class="accordion_content">
                   {%- if block.settings.location_description != blank -%}
                    <span class="faq_location">{{ block.settings.location_description }}</span>
                   {%- endif -%}
                   {%- if block.settings.store_timing != blank -%}
                    <span class="faq_timer">{{ block.settings.store_timing }}</span>
                   {%- endif -%}
                </div>
             </div>
            {% endfor %}
          </div>
       </div>
    </div>
 </section>
<!-- end: Contact Section -->

<script>
const items = document.querySelectorAll(".accordion button");
function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}
items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>

{% schema %}
{
  "name": "Location Section",
  "settings": [
    {
      "type": "textarea",
      "id": "location_iframe",
      "default": "Map Iframe",
      "label": "Map Iframe"
    },
    {
      "type": "text",
      "id": "stores_location",
      "default": "Stores Location",
      "label": "Location Title"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 352
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 352
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "Location Section",
      "settings": [
        {
          "type": "text",
          "id": "location_title",
          "label": "Location Title",
          "default": "Alabama"
        },
        {
          "type": "richtext",
          "id": "location_description",
          "label": "Location Description",
          "default": "<p>141 Duane St, New York, NY 10013 +1 914 677 0555</p>"
        },
        {
          "type": "text",
          "id": "store_timing",
          "label": "Store Timing",
          "default": "Mon - Sun: 9.00AM - 7.00PM"
        }
      ] 
    }
  ],
  "presets": [
    {
      "name": "Location Section",
      "blocks": [
        {
          "type": "location"
        },
        {
          "type": "location"
        },
        {
          "type": "location"
        },
        {
          "type": "location"
        }
      ]
    }
  ]
}
{% endschema %}
