{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'blog-item-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (min-width: 768px) {
    .main-blog .blog-articles-grid {
        grid-template-columns: repeat( {{ section.settings.item_count }} , 1fr);
    }
  }
{%- endstyle -%}

{% assign current_tags = '' %}
{% if request.path contains '/tagged/' %}
  {% assign current_tags = request.path | split: '/tagged/' | last | handleize %}
{% endif %}

<div class="main-blog section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="main-blog-top flex align-items-center space-between wrap">
      <div class="section-title">
        <h1>
          {% if section.settings.heading_text != blank %}
            {{ section.settings.heading_text }}
          {% else %}
            {{ blog.title | escape }}
          {% endif %}
        </h1>
      </div>
      <div class="scroller-wrapper">
        <div class="scroll-width">
          <ul class="tags-list flex wrap align-items-center no-scrollbar">
            <li>
              <a href="{{ blog.url }}" class="flex {% if current_tags == blank %}active{% endif %}">All</a>
            </li>
            {% for tag in blog.all_tags %}
              {% assign handled_tag = tag | handle %}
              <li>
                <a
                  href="{{ blog.url }}/tagged/{{ handled_tag }}"
                  class="flex {% if current_tags == handled_tag %}active{% endif %}"
                >
                  {{ tag }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {%- paginate blog.articles by section.settings.item_total -%}
      <div class="blog-articles-grid grid">
        {%- for article in blog.articles -%}
          {%- render 'blog-item-card',
            article: article,
            show_image: section.settings.show_image,
            show_date: section.settings.show_date,
            show_author: section.settings.show_author,
            show_excerpt: section.settings.show_excerpt
          -%}
        {%- endfor -%}
      </div>
      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "Heading",
      "info": "Leave it blank to show the default heading."
    },
    {
      "type": "range",
      "id": "item_total",
      "min": 2,
      "max": 12,
      "step": 1,
      "label": "Maximum number of article to show",
      "default": 9
    },
    {
      "type": "range",
      "id": "item_count",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Number of article to show in a row",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": false,
      "label": "Show excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "Show Tags"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "auto",
          "label": "Adapt to image"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "2",
          "label": "Portrait"
        }
      ],
      "default": "auto"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 100
    }
  ]
}
{% endschema %}
