{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
      }

      @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
        }
      }
      .login-section {
       padding-top: 120px;
       padding-bottom: 120px;
       background: linear-gradient(180deg, #0160a0 0%, #2992d9 100%);
  }
   .contact_form_box_two {
       max-width: 465px;
       width: 100%;
       background-color: #ffffff;
       margin-left: auto;
       margin-right: auto;
       border-radius: 16px;
       padding: 48px 48px;
  }
   .contact_form_box_two .field {
       margin-bottom: 20px;
       display: block;
  }
   .field__label, .customer .field label {
       position: relative;
       display: inline-block;
       margin-bottom: 20px;
       left: 0;
       color: #000000;
       font-size: 16px;
       font-weight: 700;
       line-height: 24px;
  }
   .contact_form_box_two .form-input label {
       display: inline-block;
       color: #000000;
       font-size: 16px;
       font-weight: 700;
       line-height: 24px;
       margin-bottom: 10px;
  }
   .contact_form_box_two form .field input[type="email"], .contact_form_box_two form .field input[type="password"] {
       width: 100%;
       padding: 20px 24px;
       font-size: 16px;
       background: transparent;
       border: 1px solid #000000;
       border-radius: 10px;
       font-family: var(--sds-fs-body);
       color: #000000;
  }
   .contact_form_box_two h1 {
       font-size: 24px;
       color: #000000;
       margin-top: 0px;
       text-align: center;
       text-transform: uppercase;
       margin-bottom: 16px;
       line-height: 30px;
  }
   .contact_form_box_two form .submit-btn {
       position: relative;
       color: #ffffff;
       background-color: #000000;
       font-family: var(--sds-ff-heading);
       font-weight: 700;
       width: 100%;
       font-size: 18px;
       text-align: center;
       text-transform: uppercase;
       border-radius: 10px;
       padding: 19px 15px;
       line-height: 1;
       margin: 20px 0px;
  }
   .contact_form_box_two .form_desc {
       font-size: 18px;
       font-weight: 400;
       line-height: 28px;
       text-align: center;
       margin-bottom: 25px;
       text-transform: none;
  }
   .contact_form_box_two form a {
       display: inline-block;
       position: relative;
       font-size: 14px;
       color: #808080;
       text-decoration: none;
       color: currentColor;
       cursor: pointer;
       -webkit-transition: all 0.3s ease-in-out 0s;
       transition: all 0.3s ease-in-out 0s;
  }
   .contact_form_box_two form a::before {
       position: absolute;
       content: "";
       display: block;
       height: 1px;
       min-height: 1px;
       right: 0;
       bottom: 6px;
       left: 0;
       background: #808080;
       will-change: transform;
       animation-duration: 0.9s;
       animation-timing-function: ease;
  }
   .contact_form_box_two h2.form__message {
       font-size: 18px;
       color: #000000;
       margin-top: 0px;
       text-align: center;
       text-transform: math-auto;
       margin-bottom: 16px;
  }
   .errors ul li {
       margin-bottom: 10px;
  }
   .contact_form_box_two form .form__message {
       font-size: 14px;
       line-height: 14px;
       display: inline;
       color: #808080;
  }
   .contact_form_box_two form .field input::placeholder {
       color: #999;
       font-size: 14px;
  }
   .contact_form_box_two form .field input[type="text"] {
       width: 100%;
       padding: 20px 24px;
       font-size: 16px;
       background: transparent;
       border: 1px solid #000000;
       border-radius: 10px;
       font-family: var(--sds-fs-body);
       color: #000000;
  }
   .contact_form_box_two form .field input[type="text"]::placeholder, .contact_form_box_two form .field input[type="password"]::placeholder, .contact_form_box_two form .field input[type="email"]::placeholder {
      color: #000000;
      opacity: 1;
      font-family: var(--sds-fs-body);
      font-size: 16px;
  }
  .contact_form_box_two .submit-btn .submit_anim {
    display: inline-block;
    overflow: hidden;
    text-shadow: 0 23px 0 #ffffff;
    transition: all ease 0.3s;
  }

  .contact_form_box_two .submit-btn:hover .submit_anim>.anim_text {
    text-shadow: 0 23px 0 #ffffff;
    transform: translateY(-23px);
  }

  .contact_form_box_two .submit-btn .submit_anim>.anim_text {
    display: flex;
    gap: 7px;
    align-items: center;
    backface-visibility: hidden;
    transform: translateY(0);
    transition: all ease 0.3s;
  }
{%- endstyle -%}
<section class="login-section">
  <div class="page-width">
    <div class="contact_form_box_two customer register section-{{ section.id }}-padding">
      <h1>
        {{ 'customer.register.title' | t }}
      </h1>
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <h2 class="form__message" tabindex="-1" autofocus>
            <span class="svg-wrapper">
              {{- 'icon-error.svg' | inline_asset_content -}}
            </span>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          <ul>
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#RegisterForm-{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <div class="field">
          <label for="RegisterForm-FirstName">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input
            type="text"
            name="customer[first_name]"
            id="RegisterForm-FirstName"
            {% if form.first_name %}
              value="{{ form.first_name }}"
            {% endif %}
            autocomplete="given-name"
            placeholder="{{ 'customer.register.first_name' | t }}"
          >
        </div>
        <div class="field">
          <label for="RegisterForm-LastName">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input
            type="text"
            name="customer[last_name]"
            id="RegisterForm-LastName"
            {% if form.last_name %}
              value="{{ form.last_name }}"
            {% endif %}
            autocomplete="family-name"
            placeholder="{{ 'customer.register.last_name' | t }}"
          >
        </div>
        <div class="field">
          <label for="RegisterForm-email">
            {{ 'customer.register.email' | t }}
          </label>
          <input
            type="email"
            name="customer[email]"
            id="RegisterForm-email"
            {% if form.email %}
              value="{{ form.email }}"
            {% endif %}
            spellcheck="false"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-email-error"
            {% endif %}
            placeholder="{{ 'customer.register.email' | t }}"
          >
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="form__message">
            <span class="svg-wrapper">
              {{- 'icon-error.svg' | inline_asset_content -}}
            </span>
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}.
          </span>
        {%- endif -%}
        <div class="field">
          <label for="RegisterForm-password">
            {{ 'customer.register.password' | t }}
          </label>
          <input
            type="password"
            name="customer[password]"
            id="RegisterForm-password"
            aria-required="true"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-password-error"
            {% endif %}
            placeholder="{{ 'customer.register.password' | t }}"
          >
        </div>
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="form__message">
            <span class="svg-wrapper">
              {{- 'icon-error.svg' | inline_asset_content -}}
            </span>
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}.
          </span>
        {%- endif -%}
        <button class="submit-btn">
          <span class="submit_anim">
            <span class="anim_text">{{ 'customer.register.submit' | t }}</span>
          </span>
        </button>
      {%- endform -%}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.main-register.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
