{{ 'snazzy-customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
          padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }

        @media screen and (min-width: 750px) {
          .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
          }
        }

        .login-section {
        padding-top: 120px;
        padding-bottom: 120px;
        background: linear-gradient(180deg, #0160a0 0%, #2992d9 100%);
      }
      .contact_form_box_two {
        max-width: 465px;
        width: 100%;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 16px;
        padding: 48px 48px;
      }
      .contact_form_box_two .field {
        margin-bottom: 20px;
        display: block;
      }
      .contact_form_box_two .field label {
        display: inline-block;
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 10px;
      }
      .contact_form_box_two form .field input[type="email"],
      .contact_form_box_two form .field input[type="password"] {
        width: 100%;
        padding: 20px 24px;
        font-size: 16px;
        background: transparent;
        border: 1px solid #000000;
        border-radius: 10px;
        font-family: var(--sds-fs-body);
        color: #000000;
      }
      .contact_form_box_two h1 {
        font-size: 24px;
        color: #000000;
        margin-top: 0px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 16px;
        line-height: 30px;
      }
      .contact_form_box_two form .submit-btn {
        position: relative;
        color: #ffffff;
        background-color: #000000;
        font-family: var(--sds-ff-heading);
        font-weight: 700;
        width: 100%;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 10px;
        padding: 19px 15px;
        line-height: 1;
        margin: 20px 0px;
      }
      .contact_form_box_two p {
        margin-bottom: 25px;
      }
      .contact_form_box_two form a {
        display: inline-block;
        position: relative;
        font-size: 14px;
        color: #808080;
        text-decoration: none;
        color: currentColor;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      .contact_form_box_two form a::before {
        position: absolute;
        content: "";
        display: block;
        height: 1px;
        min-height: 1px;
        right: 0;
        bottom: 6px;
        left: 0;
        background: #808080;
        will-change: transform;
        animation-duration: 0.9s;
        animation-timing-function: ease;
      }
      .contact_form_box_two h2.form__message {
        font-size: 18px;
        color: #000000;
        margin-top: 0px;
        text-align: center;
        text-transform: math-auto;
        margin-bottom: 16px;
     }
     .errors ul li {
      margin-bottom: 10px;
    }
    .contact_form_box_two form .form__message {
      font-size: 14px;
      line-height: 14px;
      display: inline;
      color: #808080;
  }
{%- endstyle -%}

{%- if section.settings.enable_shop_login_button == false -%}
  {%- assign hide_shop_login_button = true -%}
{%- endif -%}

<div class="login-section section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="contact_form_box_two">
      {% if template == 'customers/login' and customer == null %}
        <h1 id="recover" tabindex="-1">
          {{ 'customer.recover_password.title' | t }}
        </h1>
        <div>
          <p>
            {{ 'customer.recover_password.subtext' | t }}
          </p>

          {%- form 'recover_customer_password' -%}
            {% assign recover_success = form.posted_successfully? %}
            <div class="field">
              <label for="RecoverEmail">
                {{ 'customer.login_page.email' | t }}
              </label>
              <input
                type="email"
                value=""
                name="email"
                id="RecoverEmail"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                  autofocus
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
              >
            </div>
            {%- if form.errors -%}
              <small id="RecoverEmail-email-error" class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{ form.errors.messages.form }}
              </small>
            {%- endif -%}

            <button class="submit-btn">
              {{ 'customer.login_page.submit' | t }}
            </button>

            <a href="#login">
              {{ 'customer.login_page.cancel' | t }}
            </a>
          {%- endform -%}
        </div>
      {%- endif -%}
      <h1 id="login" tabindex="-1">{{ 'customer.login_page.title' | t }}</h1>
      <p class="form_desc">Welcome back! Login to get started!</p>
      <div>
        {%- if recover_success == true -%}
          <h3 class="form__message" tabindex="-1" autofocus>
            <span class="svg-wrapper">
              {{- 'icon-success.svg' | inline_asset_content -}}
            </span>
            {{ 'customer.recover_password.success' | t }}
          </h3>
        {%- endif -%}
        {%- form 'customer_login', novalidate: 'novalidate' -%}
          {%- if form.errors -%}
            <h2 class="form__message" tabindex="-1" autofocus>
              <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              <span class="svg-wrapper">
                {{- 'icon-error.svg' | inline_asset_content -}}
              </span>
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
            {{ form.errors | default_errors }}
          {%- endif -%}

          {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
            <section name="sign-in-with-shop-provider">
              {{ shop | login_button: hide_button: hide_shop_login_button }}

              {%- unless hide_shop_login_button -%}
                <p>
                  {{ 'customer.login_page.alternate_provider_separator' | t }}
                </p>
              {%- endunless -%}
            </section>
          {%- endif -%}

          <div class="field">
            <label for="CustomerEmail">
              {{ 'customer.login_page.email' | t }}
            </label>
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'customer.login_page.email' | t }}"
            >
          </div>

          {%- if form.password_needed -%}
            <div class="field">
              <label for="CustomerPassword">
                {{ 'customer.login_page.password' | t }}
              </label>
              <input
                type="password"
                value=""
                name="customer[password]"
                id="CustomerPassword"
                autocomplete="current-password"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.password' | t }}"
              >
            </div>

            <a href="#recover">
              {{ 'customer.login_page.forgot_password' | t }}
            </a>
          {%- endif -%}

          <button class="submit-btn">
            {{ 'customer.login_page.sign_in' | t }}
          </button>

          <a href="{{ routes.account_register_url }}">
            {{ 'customer.login_page.create_account' | t }}
          </a>
        {%- endform -%}
      </div>

      {%- if shop.checkout.guest_login -%}
        <div>
          <hr>
          <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

          {%- form 'guest_login' -%}
            <button>
              {{ 'customer.login_page.guest_continue' | t }}
            </button>
          {%- endform -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main-login.shop_login_button.enable",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
