{{ 'page-header.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{%- style -%}

   .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.padding_top | times: 0.65 | round: 0 }}px;
     padding-bottom: {{ section.settings.padding_bottom | times: 0.65 | round: 0 }}px;
   }
 
   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
 {%- endstyle -%}

<div class="article-page section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
   <div class="page-width">
      <div class="breadcrumb-main-area blog-inner-area">
           <div class="breadcrumb-content-area blog-style">
              <div class="breadcrumb-link">
                 <ul>
                  <li><a href="{{ routes.root_url }}">Home</a></li>
                  <li>{{ blog.title }}</li>
                 </ul>
              </div>
              <div class="breadcrumb-heading">
                 <h1 class="breadcrumb-title">{{ article.title }}</h1>
              </div>
              {% if article.tags.size > 0 or  article.published_at %}
              <div class="blog_category">
                 <ul>
                  {% if article.tags.size > 0 %}
                     {% for tag in article.tags %}
                        <li>
                          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                        </li>
                      {% endfor %}
                   {% endif %}
                   {% if article.published_at %}
                     <li>{{ article.published_at | date: "%b %d, %Y" | upcase }}</li>
                   {% endif %}
                 </ul>
              </div>
            {% endif %}
           </div>
      </div> 
      
      <div class="blog-details-section">
           <div class="blog_details_main">
              <div class="blog_details_lg_images">
                     <img
                     class="w-full"
                     srcset="
                     {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                     {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                     {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                     {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                     {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                     {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                     {{ article.image.src | image_url }} {{ article.image.src.width }}w
                     "
                     src="{{ article.image.src | image_url: width: article.image.width }}"
                     sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                     alt="{{ article.image.src.alt | escape }}"
                     loading="lazy"
                     width="{{ article.image.width }}"
                     height="{{ article.image.height }}"
                  >
              </div>
              <div class="blog_details_Wrapper">
                 <div class="blog_details_content">
                    {{ article.content }}
                 </div>
                 <div class="blog_details_infos_box">
                  {% if article.tags.size > 0 %}
                     <div class="blog_details_tag">
                        <ul>
                           <li><span>Tags:</span></li>
                           {% for tag in article.tags %}
                            <li>
                              <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                            </li>
                          {% endfor %}
                        </ul>
                     </div>                     
                  {% endif %}
                    <div class="blog_details_socials">
                       <ul>
                        <li>
                           <button id="share-facebook">f</button>
                        </li>
                        <li>
                           <button id="share-pinterest">p</button>
                        </li>
                        <li>
                           <button id="share-instagram">i</button>
                        </li>
                        <li>
                           <button id="copy-link">c</button>
                        </li>
                       </ul>
                    </div>
                 </div>
                 <div class="blog_details_author">
                  {% if section.settings.author_image != blank %}
                     <div class="blog_thumb_images">
                        <img src="{{ section.settings.author_image | image_url: width: 533 }}" loading="lazy" width="{{ section.settings.author_image.width }}" height="{{ section.settings.author_image.height }}" >
                     </div>
                  {% endif %}
                  <div class="blog_author_text">
                     <h6 class="author_name"><a href="#">{{ article.author }}</a></h6>
                     {% if section.settings.author_designation != blank %}
                        <span class="author_designation">{{ section.settings.author_designation }}</span>
                     {% endif %}
                  </div>
               </div>
                 <div class="comments-container">
                    <div class="comments-wrap">
                       <div class="comments-title">
                          <h2 class="title">2 Comment</h2>
                       </div>
                       <div class="latest-comments">
                          <ul>
                             <li class="comment">
                                <div class="comment-content">
                                   <div class="commment-author">
                                      <div class="comment-avatar">
                                         <div class="avatar-icon">
                                            <span>
                                               <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                  xmlns="http://www.w3.org/2000/svg">
                                                  <path
                                                     d="M12 2C9.243 2 7 4.243 7 7C7 9.757 9.243 12 12 12C14.757 12 17 9.757 17 7C17 4.243 14.757 2 12 2ZM12 10C10.346 10 9 8.654 9 7C9 5.346 10.346 4 12 4C13.654 4 15 5.346 15 7C15 8.654 13.654 10 12 10ZM21 21V20C21 16.141 17.859 13 14 13H10C6.14 13 3 16.141 3 20V21H5V20C5 17.243 7.243 15 10 15H14C16.757 15 19 17.243 19 20V21H21Z"
                                                     fill="#808080" />
                                               </svg>
                                            </span>
                                         </div>
                                         <div class="avatar-name">
                                            <h6 class="title">
                                               <a href="#">Leo Morales</a>
                                            </h6>
                                         </div>
                                      </div>
                                      <div class="commment-month">
                                         <span>Nov 24, 2024</span>
                                      </div>
                                   </div>
                                   <div class="comment-desc">
                                      Seriously though, great job curating this list of dope brands.
                                   </div>
                                </div>
                             </li>
                             <li class="comment">
                                <ul class="children">
                                   <li class="comment">
                                      <div class="comment-content">
                                         <div class="commment-author">
                                            <div class="comment-avatar">
                                               <div class="avatar-images">
                                                  <img src="assets/images/blog/blog-thumb-images-2.png" alt="Image" />
                                               </div>
                                               <div class="avatar-name">
                                                  <h6 class="title">
                                                     <a href="#">Ethan Kim</a>
                                                  </h6>
                                               </div>
                                            </div>
                                            <div class="commment-month">
                                               <span>Nov 29, 2024</span>
                                            </div>
                                         </div>
                                         <div class="comment-desc">
                                            I've been looking to upgrade my streetwear wardrobe, and this is a huge
                                            help
                                         </div>
                                      </div>
                                   </li>
                                </ul>
                             </li>
                          </ul>
                       </div>
                    </div>
                    <div class="comment-respond">
                       <div class="comment-header">
                          <h3 class="title">Leave a Comment</h3>
                             <div class="comment-desc">Please note, comments need to be approved before they are
                                published. This site is protected by hCaptcha and the hCaptcha <a href="#">Privacy
                                   Policy</a> and <a href="#">Terms of Service</a>
                                apply.</div>
                       </div>
                       <div class="comment_details_form">
                          <div class="form-input">
                             <label for="text">Name <span>*</span></label>
                             <input type="text" id="text" name="name" placeholder="Enter your name" required="" />
                          </div>
                          <div class="form-input">
                             <label for="email">E-mail <span>*</span></label>
                             <input type="email" id="email" name="email" placeholder="Enter your e-mail" required="" />
                          </div>
                          <div class="form-input comment-textarea">
                             <label for="comment">Massage <span>*</span></label>
                             <textarea id="comment" name="message" placeholder="Write your massage"></textarea>
                          </div>
                          <button class="submit-btn" type="submit" value="submit">Submit your comment <span><svg
                                   width="8" height="12" viewBox="0 0 8 12" fill="none"
                                   xmlns="http://www.w3.org/2000/svg">
                                   <path
                                      d="M1.70697 11.707L7.41397 5.99997L1.70697 0.292969L0.292969 1.70697L4.58597 5.99997L0.292969 10.293L1.70697 11.707Z"
                                      fill="white" />
                                </svg>
                             </span></button>
                       </div>
                    </div>
                 </div>
              </div>
           </div> </div>
   </div>
</div>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>
<script>
   const pageUrl = encodeURIComponent(window.location.href);
const pageTitle = encodeURIComponent(document.title);
const imageUrl = encodeURIComponent('https://your-image-url.jpg'); // Replace with an actual image URL for Pinterest

// Facebook Share
document.getElementById('share-facebook').addEventListener('click', () => {
  const shareUrl = `https://www.facebook.com/sharer/sharer.php?u=${pageUrl}`;
  window.open(shareUrl, '_blank', 'width=600,height=400');
});

// Pinterest Share
document.getElementById('share-pinterest').addEventListener('click', () => {
  const shareUrl = `https://pinterest.com/pin/create/button/?url=${pageUrl}&media=${imageUrl}&description=${pageTitle}`;
  window.open(shareUrl, '_blank', 'width=600,height=400');
});

// Instagram (No direct share API)
document.getElementById('share-instagram').addEventListener('click', () => {
  alert('Instagram sharing is not supported via web APIs.');
});

// Copy Link
document.getElementById('copy-link').addEventListener('click', () => {
  navigator.clipboard.writeText(window.location.href).then(() => {
    alert('Link copied to clipboard!');
  });
});

</script>
{% schema %}

{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
   {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author image"
    },
    {
      "type": "text",
      "id": "author_designation",
      "label": "Author designation"
    },
   {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 200
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 200
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "t:sections.main-article.blocks.share.settings.text.default"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
