{{ 'page-header.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{%- style -%}

   .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.padding_top | times: 0.65 | round: 0 }}px;
     padding-bottom: {{ section.settings.padding_bottom | times: 0.65 | round: 0 }}px;
   }
 
   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
 {%- endstyle -%}

<div class="article-page section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
   <div class="page-width">
      <div class="breadcrumb-main-area blog-inner-area">
           <div class="breadcrumb-content-area blog-style">
            {% if section.settings.show_breadcrumb %}
              <div class="breadcrumb-link">
                 <ul>
                  <li><a href="{{ routes.root_url }}">Home</a></li>
                  <li>{{ blog.title }}</li>
                 </ul>
              </div>
            {% endif %}
              <div class="breadcrumb-heading">
                 <h1 class="breadcrumb-title">{{ article.title }}</h1>
              </div>
              {% if article.tags.size > 0 and section.settings.show_tag or  article.published_at and section.settings.show_date %}
              <div class="blog_category">
                 <ul>
                  {% if article.tags.size > 0 and section.settings.show_tag %}
                     {% for tag in article.tags %}
                        <li>
                          <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
                        </li>
                      {% endfor %}
                   {% endif %}
                   {% if article.published_at and section.settings.show_date %}
                     <li>{{ article.published_at | date: "%b %d, %Y" | upcase }}</li>
                   {% endif %}
                 </ul>
              </div>
            {% endif %}
           </div>
      </div> 
      <div class="blog-details-section">
           <div class="blog_details_main">
            {% if article.image != blank %}
               <div class="blog_details_lg_images">
                      <img
                      class="w-full"
                      srcset="
                      {%- if article.image.src.width >= 165 -%}{{ article.image.src | image_url: width: 165 }} 165w,{%- endif -%}
                      {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                      {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                      {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                      {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                      {%- if article.image.src.width >= 1500 -%}{{ article.image.src | image_url: width: 1500 }} 1500w,{%- endif -%}
                      {{ article.image.src | image_url }} {{ article.image.src.width }}w
                      "
                      src="{{ article.image.src | image_url: width: article.image.width }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                      alt="{{ article.image.src.alt | escape }}"
                      loading="lazy"
                      width="{{ article.image.width }}"
                      height="{{ article.image.height }}"
                   >
               </div>
            {% endif %}
              <div class="blog_details_Wrapper">
                 <div class="blog_details_content">
                    {{ article.content }}
                 </div>
                 {% if section.settings.show_tag or section.settings.show_social_share %}
                  <div class="blog_details_infos_box">
                   {% if article.tags.size > 0 and section.settings.show_tag %}
                      <div class="blog_details_tag">
                         <ul>
                            <li><span>Tags:</span></li>
                            {% for tag in article.tags %}
                             <li>
                               <a href="{{ blog.url }}/tagged/{{ tag | handleize }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                             </li>
                           {% endfor %}
                         </ul>
                      </div>                     
                   {% endif %}
                   {% if section.settings.show_social_share %}
                     <div class="blog_details_socials">
                        <ul>
                         <li>
                            <button id="share-facebook">{{- 'icon-facebook.svg' | inline_asset_content -}}</button>
                         </li>
                         <li>
                            <button id="share-pinterest">{{- 'icon-pinterest.svg' | inline_asset_content -}}</button>
                         </li>
                         <li>
                            <button id="copy-link">{{- 'icon-link.svg' | inline_asset_content -}}</button>
                         </li>
                        </ul>
                     </div>
                   {% endif %}
                  </div>
                 {% endif %}
                 {% if section.settings.show_author_information %}
                  <div class="blog_details_author">
                   {% if section.settings.author_image != blank %}
                      <div class="blog_thumb_images">
                         <img src="{{ section.settings.author_image | image_url: width: 533 }}" loading="lazy" width="{{ section.settings.author_image.width }}" height="{{ section.settings.author_image.height }}" >
                      </div>
                   {% endif %}
                   <div class="blog_author_text">
                      <h6 class="author_name">{{ article.author }}</h6>
                      {% if section.settings.author_designation != blank %}
                         <span class="author_designation">{{ section.settings.author_designation }}</span>
                      {% endif %}
                   </div>
                </div>
                 {% endif %}
               {%- if blog.comments_enabled? -%}
                  <div class="comments-container">
                    <div class="comments-wrap">
                      {%- if article.comments_count > 0 -%}
                        <div class="comments-title">
                          <h2 class="title">{{ article.comments_count }} Comment{% if article.comments_count > 1 %}s{% endif %}</h2>
                        </div>
                        <div class="latest-comments">
                          <ul>
                           {%- assign anchorId = '#Comments-' | append: article.id -%}
                            {% paginate article.comments by 3 %}
                              {%- for comment in article.comments -%}
                                <li class="comment">
                                  <div class="comment-content">
                                    <div class="commment-author">
                                      <div class="comment-avatar">
                                        <div class="avatar-icon">
                                          <span>
                                             {{- 'icon-avatar-placeholder.svg' | inline_asset_content -}}
                                          </span>
                                        </div>
                                        <div class="avatar-name">
                                          <h6 class="title">{{ comment.author }}</h6>
                                        </div>
                                      </div>
                                      <div class="commment-month">
                                        <span>{{ comment.created_at | date: "%b %d, %Y" }}</span>
                                      </div>
                                    </div>
                                    <div class="comment-desc">
                                      {{ comment.content }}
                                    </div>
                                  </div>
                                </li>
                              {%- endfor -%}
                              {% render 'pagination', paginate: paginate, anchor: anchorId %}
                            {% endpaginate %}
                          </ul>
                        </div>
                      {%- endif -%}
                    </div>
                
                    <!-- Comment Form -->
                    <div class="comment-respond">
                      <div class="comment-header">
                        <h3 class="title">{{ 'blogs.article.comment_form_title' | t }}</h3>
                          <div class="comment-desc">
                            {% if blog.moderated?  %}Please note, comments need to be approved before they are published.{% endif %} This site is protected by hCaptcha and the hCaptcha <a href="https://hcaptcha.com/privacy">Privacy Policy</a> and <a href="https://hcaptcha.com/terms">Terms of Service</a> apply.
                          </div>
                      </div>
                      {% form 'new_comment', article %}
                          <!-- Success Message -->
                          {%- if form.posted_successfully? -%}
                            <div class="form-submit-status success-message" role="status">
                              <p>Thank you! Your comment has been submitted successfully.</p>
                            </div>
                          {%- endif -%}

                        <div class="comment_details_form">
                          <div class="form-input">
                            <label for="CommentForm-author">Name <span>*</span></label>
                            <input type="text" id="CommentForm-author" name="comment[author]" placeholder="Enter your name" required>
                          </div>
                          <div class="form-input">
                            <label for="CommentForm-email">E-mail <span>*</span></label>
                            <input type="email" id="CommentForm-email" name="comment[email]" placeholder="Enter your e-mail" required>
                          </div>
                          <div class="form-input comment-textarea">
                            <label for="CommentForm-body">Message <span>*</span></label>
                            <textarea id="CommentForm-body" name="comment[body]" placeholder="Write your message"></textarea>
                          </div>
                          <div class="form-info w-full">
                              <p>* is required field</p>
                          </div>
                          <button class="snazzy-icon-btn btn-with-border uppercase submit-btn" type="submit">Submit your comment <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span></button>
                        </div>
                      {% endform %}
                    </div>
                  </div>
                {%- endif -%}
              </div>
           </div> 
      </div>
   </div>
</div>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>
{% schema %}

{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
   {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "Show breadcrumb",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "label": "Show tag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "label": "Show social share",
      "default": true
    },
    {
      "type": "header",
      "content": "Author information"
    },
    {
      "type": "checkbox",
      "id": "show_author_information",
      "label": "Show author information",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "author_image",
      "label": "Author image"
    },
    {
      "type": "text",
      "id": "author_designation",
      "label": "Author designation"
    },
   {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 200
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 200
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "t:sections.main-article.blocks.share.settings.text.default"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
