{{ 'page-header.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.65 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.65 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="page-header breadcrumb-main-area section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="breadcrumb-content-area page-width">
    <div class="breadcrumb-content-area-inner">
      <div class="breadcrumb-link">
        <ul>
          <li>
            <a href="{{ routes.root_url }}">{{ 'sections.breadcrumb_banner.home' | t }}</a>
          </li>
          <li>{{ blog.title }}</li>
        </ul>
      </div>
      <div class="breadcrumb-heading">
        {% if section.settings.section_heading != blank %}
          <h1 class="breadcrumb-title">{{ section.settings.section_heading }}</h1>
        {% else %}
          <h1 class="breadcrumb-title">{{ blog.title }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
  {% if section.settings.header_bg %}
    <div class="page-header-bg">
      {% render 'the-img', image: section.settings.header_bg %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "t:sections.page-header-section.name",
  "class": "page-header-main",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "image_picker",
      "id": "header_bg",
      "label": "t:sections.page-header-section.settings.header_bg.label"
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "t:sections.page-header-section.settings.section_heading.label",
      "info": "t:sections.page-header-section.settings.section_heading.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 300
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 200
    }
  ]
}
{% endschema %}
