
{{ 'product-bundle.css' | asset_url | stylesheet_tag }}


<script>
  window.currencySymbol = "{{ cart.currency.symbol }}";
</script>
<script src="{{ 'bundle.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
  padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
}

@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
{%- endstyle -%}

<div class="bundle-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="bundle-container-inner grid">
        <!-- Left Section: Product List -->
        <div id="product-list" class="bundle-products grid">
        
          {% for product in section.settings.collection.products %}
            <div class="product" data-title="{{ product.title }}">
              <a href="{{ product.url }}" class="product-thumb">
                <img class="featured-image" id="featured-image-{{ product.id }}" src="{{ product.featured_image | img_url: 'large' }}" width="" height="" alt="{{ product.title }}">

                <div class="product-badge-wrapper">
                  {% if product.tags.size > 0 %}
                        {% for tag in product.tags %}
                          <div class="badge tag-badge">{{ tag }}</div>
                        {% endfor %}
                  {% endif %}

                  {% if product.variants.size > 1 %}
                    <div class="badge sale-badge" id="sale-badge-{{ product.id }}"></div>
                    {% elsif product.variants.first.compare_at_price > product.variants.first.price %}
                      <div class="badge sale-badge">
                        {% assign discount_amount = product.compare_at_price | minus: product.price %}
                        {% assign discount_percentage = discount_amount | times: 100.0 | divided_by: product.compare_at_price | round %}
                        {{ discount_percentage }}% off
                      </div>
                  {% endif %}

                   
                      <div class="badge sold-out-badge" id="sold-out-badge-{{ product.id }}">
                        {% unless product.variants.first.available %}
                          SOLD OUT
                        {% endunless %}
                      </div>
                </div>

              </a>
                <h5 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h5>
                {% assign showVariant = false %}
                {% for option in product.options_with_values %}
                  {% if option.name != "Title"  %}
                    {% assign showVariant = true %}
                  {% endif %}
                {% endfor %}

                  {% if product.variants.size > 1 %}
                    <div class="product-price-wrapper {% if product.variants.first.compare_at_price == nil %}no-compare{% endif %}">
                      <h6 class="product-price" id="product-price-{{ product.id }}">{{ product.variants.first.price | money }}</h6>
                      <h6 class="product-previous-price"><del id="product-previous-price-{{ product.id }}">{{ product.variants.first.compare_at_price | money }}</del></h6>
                    </div>
                  {% else %}
                   <div class="product-price-wrapper {% if product.compare_at_price == nil %}no-compare{% endif %}">
                        <h6 class="product-price" id="product-price-{{ product.id }}">{{ product.price | money }}</h6>
                        <h6 class="product-previous-price" id="product-previous-price-{{ product.id }}"><del>{{ product.compare_at_price | money }}</del></h6>
                   </div>
                {% endif %} 

                {% if product.variants.size > 1 %}
                  <div class="variant-picker">
                    {% for option in product.options_with_values %}
                      <div class="variant-group{% if option.name == 'Color' %} color-swatch{% endif %}">
                        <p class="variant-group-name">{{ option.name }}</p>
                        {% for value in option.values %}
                        <input id="{{product.id}}-{{value}}" type="radio" name="option-{{product.id}}-{{ option.name | handleize }}" value="{{ value }}" data-option-index="{{ forloop.parentloop.index0 }}" data-value="{{ value }}" data-product-id="{{ product.id }}">
                          {%- liquid
                              assign swatch_value = null
                              if value.swatch.image
                                assign image_url = value.swatch.image | image_url: width: 50
                                assign swatch_value = 'url(' | append: image_url | append: ')'
                              elsif value.swatch.color
                                assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
                              endif
                            -%}
                          <label for="{{product.id}}-{{value}}"  style="--swatch-bg: {{ swatch_value }}" >
                            {{ value }}
                          </label>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </div>
                  
                {% endif %}
                <input class="product-variant-id" type="hidden" name="id" id="selected-variant-{{ product.id }}" value="{{ product.variants.first.id }}">
                <button type="submit" class="product-btn{% if product.variants.first.available %} add-to-bundle {% else %}sold-out{% endif %} " id="add-to-cart-{{ product.id }}" {% unless product.variants.first.available %}disabled{% endunless %}>{% if product.variants.first.available %} {% if product.variants.size > 1 %}Choose Variant {% else %}Add to bundle{% endif %} {% else %}Sold out{% endif %}</button>
            </div>
            
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    document.querySelectorAll(".variant-picker input").forEach(input => {
                      input.addEventListener("change", () => {
                        const productId = input.dataset.productId;
                        const selectedOptions = [];

                        document.querySelectorAll(`[data-product-id='${productId}']`).forEach(option => {
                          if (option.checked) {
                            selectedOptions[option.dataset.optionIndex] = option.dataset.value;
                          }
                        });

                        const variants = {{ product.variants | json }};
                        console.log(variants)
                        const selectedVariant = variants.find(variant => JSON.stringify(variant.options) === JSON.stringify(selectedOptions));

                        if (selectedVariant) {
                          const currencySymbol = "{{ cart.currency.symbol }}";
                          const productPrice = document.getElementById(`product-price-${productId}`);
                          const productPreviousPrice = document.getElementById(`product-previous-price-${productId}`);
                          const priceWrappers = document.querySelectorAll(".product-price-wrapper");

                          const productImage = document.getElementById(`featured-image-${productId}`); // Use template literal
                          if (productImage) { // Check if productImage exists
                            if (selectedVariant && selectedVariant.featured_image) {
                              productImage.src = selectedVariant.featured_image.src;
                            } else {
                              productImage.src = "{{ product.featured_image | img_url: 'large' }}"; // Revert to product image
                            }
                          }

                          if (productPrice) {
                            productPrice.innerText = `${currencySymbol}${(selectedVariant.price / 100).toFixed(2)}`;
                            productPreviousPrice.innerText = selectedVariant.compare_at_price ? `${currencySymbol}${(selectedVariant.compare_at_price / 100).toFixed(2)}` : "";
                            priceWrappers.forEach(wrapper => wrapper.classList.toggle("no-compare", !selectedVariant.compare_at_price));
                          }

                          const saleBadge = document.getElementById(`sale-badge-${productId}`);
                          if (selectedVariant.compare_at_price > selectedVariant.price) {
                            const discountPercentage = Math.floor(((selectedVariant.compare_at_price - selectedVariant.price) / selectedVariant.compare_at_price) * 100);
                            saleBadge.textContent = `${discountPercentage}% off`; // Show percentage
                            saleBadge.style.display = "block";
                          } else {
                            saleBadge.style.display = "none";
                          }
                          const soldBadge = document.getElementById(`sold-out-badge-${productId}`);
                            soldBadge.textContent = selectedVariant.available ? " " : "SOLD OUT"
                          


                          document.querySelectorAll(`[data-option-index="1"][data-product-id='${productId}']`).forEach(colorInput => {
                            const colorValue = colorInput.dataset.value;
                            const variantForColor = variants.find(variant => variant.options[0] === selectedOptions[0] && variant.options[1] === colorValue);
                            colorInput.disabled = !(variantForColor && variantForColor.available);
                            colorInput.parentNode.classList.toggle('disabled', colorInput.disabled);
                          });

                          const addToCartButton = document.getElementById(`add-to-cart-${productId}`);
                          addToCartButton.disabled = !selectedVariant.available;
                          addToCartButton.textContent = addToCartButton.disabled ? "Sold out" : "Add to bundle";
                        }
                      });
                    });
                  });
            </script>

          {% endfor %}
        </div>
        <!-- Right Section: Bundle List -->
        <div id="bundle-list">
          <div class="bundle-list-inner">
            <div class="bundle-list-header">
              <h5>{{ section.settings.bundle_cart_heading }}</h5>
              <p>{{ section.settings.bundle_cart_subheading }}</p>
              <div id="item-range" class="item-range"></div>
            </div>
            <div class="bundle-list-body no-scrollbar">
              <ul id="bundle-items">
                <!-- JavaScript will dynamically populate this list -->
              </ul>
            </div>
            <div class="bundle-list-footer">
              <div class="bundle-list-footer-inner">
                <div class="bundle-total-price flex space-between align-items-center"><span>SUBTOTAL</span><span id="bundle-total">$00.00</span></div>
              <button class="add-to-cart">ADD TO CART</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>





{% schema %}
    {
      "name": "Product bundle New",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Chose collection"
        },
        {
          "type": "header",
          "content": "t:sections.featured-collection.settings.header.content"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
            }
          ],
          "default": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.label"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_secondary_image.label"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": true,
          "label": "t:sections.featured-collection.settings.show_vendor.label"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "default": false,
          "label": "t:sections.featured-collection.settings.show_rating.label",
          "info": "t:sections.featured-collection.settings.show_rating.info"
        },
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.featured-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "info": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.info",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.featured-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
            },
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
            }
          ],
          "default": "circle"
        },
        {
            "type": "header",
            "content": "Bundle cart"
        },
        {
          "type": "inline_richtext",
          "id": "bundle_cart_heading",
          "label": "Bundle cart heading",
          "default": "BUNDLE CART"
        },
        {
          "type": "inline_richtext",
          "id": "bundle_cart_subheading",
          "label": "Bundle cart subheading",
          "default": "Add at least 3 items to get 30% OFF"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 120,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 120
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 120,
            "step": 5,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 120
        }
      ],
      "presets": [
        {
            "name": "Product bundle New"
        }
      ]
    }
    {% endschema %}
    