{{ 'product-bundle.css' | asset_url | stylesheet_tag }}
{{ 'product-style.css' | asset_url | stylesheet_tag }}

<script>
  window.currencySymbol = '{{ cart.currency.symbol }}';
</script>
<script src="{{ 'bundle.js' | asset_url }}" defer></script>

{%- style -%}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="bundle-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    {% if section.settings.heading_text != blank %}
      <div class="section_title">
        <h1>{{ section.settings.heading_text }}</h1>
      </div>
    {% endif %}
    <bundle-manager>
      <div class="bundle-container-inner grid">
        <!-- Left Section: Product List -->
        <div id="product-list" class="bundle-products grid">
          {% if section.settings.collection != blank %}
            {% for product in section.settings.collection.products %}
              {% render 'product', product: product, button: true, only_color_variant: false %}
            {% endfor %}
          {% else %}
            {% for i in (1..6) %}
              <div class="product">
                <a role="link" aria-disabled="true" class="product-thumb flex">
                  {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                  {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                  {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
                <div class="product-content">
                  <h5 class="product-title">{{ 'sections.product_bundle.product_title' | t }}</h5>
                  <div class="product-price-wrapper align-items-center flex no-compare">
                    <h6 class="product-price">{{ 00.00 | money }}</h6>
                  </div>
                </div>
                <button type="submit" class="product-btn add-to-bundle" disabled>{{ 'sections.product_bundle.add_to_bundle' | t }}</button>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="slider-controls">
          <button class="prev-slide">{{- 'icon-arrow.svg' | inline_asset_content -}}</button>
          <button class="next-slide">{{- 'icon-arrow.svg' | inline_asset_content -}}</button>
        </div>

        <!-- Right Section: Bundle List -->
        <div id="bundle-list">
          <div class="bundle-list-inner">
            <div class="bundle-list-header">
              <div class="bundle-list-header-top flex align-items-center space-between">
                <div class="bundle-list-header-content">
                  {% if section.settings.bundle_cart_heading %}
                    <h5>{{ section.settings.bundle_cart_heading }}</h5>
                  {% endif %}
                  {% if section.settings.bundle_cart_subheading %}
                    <p>{{ section.settings.bundle_cart_subheading }}</p>
                  {% endif %}
                </div>
                <div class="bundle-list-header-icon flex" id="dropdown-icon">
                  {{- 'icon-arrow.svg' | inline_asset_content -}}
                </div>
              </div>
              <div id="item-range" class="item-range"></div>
            </div>
            <div class="bundle-list-body no-scrollbar">
              <ul id="bundle-items">
                <!-- JavaScript will dynamically populate this list -->
              </ul>
            </div>
            <div class="bundle-list-footer">
              <div class="bundle-list-footer-inner">
                <div class="bundle-total-price flex space-between align-items-center">
                  <span>{{ 'sections.product_bundle.subtotal' | t }}</span><span id="bundle-total">{{ 00.00 | money }}</span>
                </div>
                <button class="add-to-cart">{{ 'sections.product_bundle.add_to_cart' | t }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </bundle-manager>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product_bundle.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.product_bundle.settings.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "heading_text",
      "label": "t:sections.product_bundle.settings.heading_text.label",
      "default": "t:sections.product_bundle.settings.heading_text.default"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.product_bundle.settings.collection.label"
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "t:sections.product_bundle.settings.ratio.label",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.product_bundle.settings.ratio.options.auto"
        },
        {
          "value": "1",
          "label": "t:sections.product_bundle.settings.ratio.options.square"
        },
        {
          "value": "2",
          "label": "t:sections.product_bundle.settings.ratio.options.portrait"
        }
      ],
      "default": "auto"
    },
    {
      "type": "header",
      "content": "t:sections.product_bundle.settings.bundle_cart_header"
    },
    {
      "type": "text",
      "id": "bundle_cart_heading",
      "label": "t:sections.product_bundle.settings.bundle_cart_heading.label",
      "default": "t:sections.product_bundle.settings.bundle_cart_heading.default"
    },
    {
      "type": "inline_richtext",
      "id": "bundle_cart_subheading",
      "label": "t:sections.product_bundle.settings.bundle_cart_subheading.label",
      "default": "t:sections.product_bundle.settings.bundle_cart_subheading.default"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_bundle.presets.name"
    }
  ]
}
{% endschema %}
