{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'quick-add.css' | asset_url | stylesheet_tag }}
<script src="{{ 'video-hover.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

{{ 'component-community-stories.css' | asset_url | stylesheet_tag }}
{{ 'component-heading.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    @media screen and (min-width: 768px) {
      .slider-community-section .slider_community_item{
        width: calc((100% / {{ section.settings.columns_desktop }}) - 18px);
      }
    }
    {%- for block in section.blocks -%}
      .id-{{ block.id }} .slider_community_images::before{
        opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
      }
  {% endfor %}
{%- endstyle -%}

<section class="slider-community-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <div class="heading_area">
      <h2 class="sec_title">{{ section.settings.community_heading }}</h2>
    </div>
    <div class="slider_community_wrapper">
      <items-carousel>
        <div
          class="carousel items-carousel-selector"
          data-flickity='{"contain": true, "prevNextButtons": true, "pageDots": false, "draggable": false}'
        >
          {%- for block in section.blocks -%}
            <div class="slider_community_item id-{{ block.id }}" {{ block.shopify_attributes }}>
              {%- assign prd_crd = block.settings.product_select %}
              {%- assign section_id = section.id %}
              {% assign pdfm = 'quick-add-' | append: section_id | append: prd_crd.id %}
              {%- assign ratio_setting = section.settings.ratio %}
              {%- assign placeholder_index = forloop.index0 | modulo: 4 | plus: 1 %}
              {%- assign placeholder_image = 'product-apparel-' | append: placeholder_index %}

              {%- assign auto_ratio = '' %}
              {%- if block.settings.product_video %}
                {%- assign auto_ratio = block.settings.product_video.aspect_ratio %}
              {%- elsif block.settings.product_image %}
                {%- assign auto_ratio = block.settings.product_image.aspect_ratio %}
              {%- elsif block.settings.placeholder_image %}
                {%- assign auto_ratio = block.settings.placeholder_image.aspect_ratio %}
              {%- endif %}

              {%- if ratio_setting == 'auto' and auto_ratio != blank -%}
                {%- assign aspect_ratio_auto = 1 | divided_by: auto_ratio | times: 100 -%}
              {%- elsif ratio_setting == '1' -%}
                {%- assign aspect_ratio_auto = 100 -%}
              {%- elsif ratio_setting == '2' -%}
                {%- assign aspect_ratio_auto = 125 -%}
              {%- else -%}
                {%- assign aspect_ratio_auto = 100 -%}
              {%- endif -%}

              {%- if aspect_ratio_auto == 0 or aspect_ratio_auto == null -%}
                {%- assign aspect_ratio_auto = 100 -%}
              {%- endif -%}

              <div class="slider_community_images flex" style="--aspect-ratio: {{ aspect_ratio_auto }}%;">
                {%- if block.settings.product_video and block.settings.product_video.sources.size > 0 -%}
                  {%- assign video_url = block.settings.product_video.sources[1].url %}
                  <video
                    src="{{ video_url }}"
                    playsinline
                    muted
                    {% if forloop.first %}
                      autoplay
                    {% endif %}
                    {% if block.settings.video_loop %}
                      loop
                    {% endif %}
                    class="community-video {% unless forloop.first %}hover-play{% endunless %}"
                  ></video>
                {%- elsif block.settings.product_image %}
                  {{
                    block.settings.product_image
                    | image_url: width: 1500
                    | image_tag: widths: '165, 360, 535, 750, 1070, 1500', alt: ''
                  }}

                {%- elsif block.settings.product_select and block.settings.product_select.featured_image %}
                  {{
                    block.settings.product_select.featured_image
                    | image_url: width: 1500
                    | image_tag: widths: '165, 360, 535, 750, 1070, 1500', alt: block.settings.product_select.title
                  }}

                {%- else %}
                  <div class="placeholder-wrapper">
                    {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {%- endif %}

                <a
                  class="product-link-wrapper"
                  {% if block.settings.product_select == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.product_select.url }}"
                  {% endif %}
                ></a>
              </div>

              <a
                {% if block.settings.product_select == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ block.settings.product_select.url }}"
                {% endif %}
                class="slider_community_content_box w-full"
              >
                <div class="slider_community_thumb">
                  {%- if block.settings.product_select.featured_image %}
                    {{
                      block.settings.product_select.featured_image
                      | image_url: width: 1500
                      | image_tag: widths: '165, 360, 535, 750, 1070, 1500', alt: block.settings.product_select.title
                    }}
                  {%- else %}
                    {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif %}
                </div>

                <div class="slider_community_text">
                  <h6 class="slider_community_title">
                    {% if block.settings.product_select == blank %}
                      {{ 'sections.product_carousel.product_title' | t }}
                    {% else %}
                      {{ block.settings.product_select.title }}
                    {% endif %}
                  </h6>
                  {%- if block.settings.product_select.price %}
                    {%- if block.settings.product_select.compare_at_price > block.settings.product_select.price %}
                      <div class="slider_community_percent active">
                        {{ block.settings.product_select.price | money }}
                        <span>{{ block.settings.product_select.compare_at_price | money }}</span>
                      </div>
                    {%- else %}
                      <div class="slider_community_percent">
                        {{ block.settings.product_select.price | money }}
                      </div>
                    {%- endif %}
                  {%- else %}
                    <div class="slider_community_percent">{{ 'sections.product_carousel.product_price' | t }}</div>
                  {%- endif %}
                </div>
              </a>
            </div>
          {%- endfor -%}
        </div>
      </items-carousel>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.product-carousel.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "community_heading",
      "label": "t:sections.product-carousel.settings.community_heading.label",
      "default": "t:sections.product-carousel.settings.community_heading.default"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.product-carousel.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "ratio",
      "label": "t:sections.product-carousel.settings.ratio.label",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.product-carousel.settings.ratio.options.auto"
        },
        {
          "value": "1",
          "label": "t:sections.product-carousel.settings.ratio.options.square"
        },
        {
          "value": "2",
          "label": "t:sections.product-carousel.settings.ratio.options.portrait"
        }
      ],
      "default": "auto"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.product-carousel.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product_select",
          "label": "t:sections.product-carousel.blocks.product.settings.product_select.label"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "t:sections.product-carousel.blocks.product.settings.overlay_opacity.label",
          "default": 70,
          "unit": "%"
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "t:sections.product-carousel.blocks.product.settings.product_image.label",
          "info": "t:sections.product-carousel.blocks.product.settings.product_image.info"
        },
        {
          "type": "video",
          "id": "product_video",
          "label": "t:sections.product-carousel.blocks.product.settings.product_video.label",
          "info": "t:sections.product-carousel.blocks.product.settings.product_video.info"
        },
        {
          "type": "checkbox",
          "id": "video_loop",
          "label": "t:sections.product-carousel.blocks.product.settings.video_loop.label",
          "default": true,
          "info": "t:sections.product-carousel.blocks.product.settings.video_loop.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-carousel.presets.name",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
