{{ 'blog-section.css' | asset_url | stylesheet_tag }}
{{ 'blog-item-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (min-width: 768px) {
  .blog-section-inner {
      grid-template-columns: repeat( {{ section.settings.columns_desktop }}, 1fr); 
  }
}

{%- endstyle -%}

{% assign common_tags = article.tags %}
{% assign post_limit = section.settings.item_shows %}
{% assign matched_articles = "" %}

{% for related_article in blog.articles %}
    {% if related_article.id != article.id %}
        {% for tag in related_article.tags %}
            {% if common_tags contains tag %}
                {% assign matched_articles = matched_articles | append: related_article.id | append: "," %}
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% assign matched_articles = matched_articles | strip | strip_newlines | remove_last: "," | split: "," %}
{% assign matched_articles_str = matched_articles | join: "," %}

{% if matched_articles.size > 0 %}
<div class="related-posts color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="page-width">
    {% if section.settings.heading != blank %}
      <div class="section_title">
        <h1>{{ section.settings.heading }}</h1>
      </div>
    {% endif %}
      <div class="blog-section-inner">
          {% assign counter = 0 %}
          {% for related_article in blog.articles %}
              {% if matched_articles_str contains related_article.id and counter < post_limit %}
                  {% render "blog-item-card" article: related_article %}
                  {% assign counter = counter | plus: 1 %}
              {% endif %}
          {% endfor %}
      </div>
  </div>
</div>
{% endif %}



{% schema %}
{
  "name": "t:sections.related_blog_post.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.related_blog_post.settings.heading.label",
      "default": "t:sections.related_blog_post.settings.heading.default"
    },
    {
      "type": "range",
      "id": "item_shows",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "t:sections.related_blog_post.settings.item_shows.label",
      "default": 3
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.related_blog_post.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.related_blog_post.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.related_blog_post.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.related_blog_post.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.related_blog_post.settings.show_tags.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "presets": [
    {
      "name": "t:sections.related_blog_post.presets.name"
    }
  ]
}
{% endschema %}
