{{ 'scrolling-text.css' | asset_url | stylesheet_tag }}
<script src="{{ 'scrolling-text.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="marquee-section color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="marquee_slider">
      <marquee-component data-speed="{{ section.settings.speed }}" data-direction="{{ section.settings.direction }}" data-pause-on-hover="{{ section.settings.pause_on_hover }}">
          <div class="modern-marquee">
            <div class="marquee-track">
                  {% for block in section.blocks %}
                    {% if block.type == 'marquee_item' %}
                      <div class="marquee-item marquee_item" {{ block.shopify_attributes }}>
                        <div class="marquee_title">
                          <h3 class="title">
                            {{ block.settings.title }}
                          </h3>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
            </div>
          </div>
        </marquee-component>
    </div>

    <div class="marquee_sm_slider">
      <items-carousel>
        <div
          class="scroll_text_carousel items-carousel-selector"
          data-flickity='{"contain": true, "prevNextButtons": false, "pageDots": true }'
        >
          {% for block in section.blocks %}
            {% if block.type == 'marquee_item' %}
              <div class="marquee_item" {{ block.shopify_attributes }}>
                <div class="marquee_title">
                  <h3 class="title">{{ block.settings.title }}</h3>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </items-carousel>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Scrolling text",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.all.colors.label",
            "info": "t:sections.all.colors.has_cards_info",
            "default": "scheme-1"
        },
        {
          "type": "range",
          "id": "speed",
          "label": "Marquee Speed",
          "min": 10,
          "max": 500,
          "step": 10,
          "default": 100,
          "unit": "ms"
        },
        {
          "type": "select",
          "id": "direction",
          "label": "Marquee Direction",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "right"
        },
        {
          "type": "checkbox",
          "id": "pause_on_hover",
          "label": "Pause on Hover",
          "default": true
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 0
        }
    ],
    "blocks": [
      {
        "type": "marquee_item",
        "name": "Marquee Item",
        "settings": [
         {
            "type": "text",
            "id": "title",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
        {
            "name": "Scrolling text",
            "blocks": [
                {"type": "marquee_item", "settings": {"title": "Worldwide Delivery"}},
                {"type": "marquee_item", "settings": {"title": "Flexible Payment"}},
                {"type": "marquee_item", "settings": {"title": "30-Day Free Return"}},
                {"type": "marquee_item", "settings": {"title": "Quick Support 24/7"}}
            ]
        }
    ]
  }
{% endschema %}
