{{ 'slideshow.css' | asset_url | stylesheet_tag }}

{%- style -%}
    {% for block in section.blocks %}
    .section-{{ block.id }}-padding {
      padding-top: {{ block.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ block.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    @media screen and (min-width: 750px) {
      .section-{{ block.id }}-padding {
        padding-top: {{ block.settings.padding_top }}px;
        padding-bottom: {{ block.settings.padding_bottom }}px;
      }
    }
  {% endfor %}
{%- endstyle -%}

<section class="banner-slider slider-section color-{{ section.settings.section_color_scheme }}">
  <div class="slider_wrapper">
    <items-carousel>
      <div class="carousel items-carousel-selector" data-flickity='{"prevNextButtons": true, "pageDots": true}'>
        {% for block in section.blocks %}
          <div class="section-{{ block.id }}-padding slider_item" {{ block.shopify_attributes }}>
            {% comment %} {% if block.settings.image != blank %}  {% endcomment %}
            <div class="slider-images" style="width: calc(100% - {{ block.settings.content_width }}%);">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: 'master' }}" width="" height="" alt="Slide Image">
              {% else %}

              {% endif %}
            </div>
            {% comment %} {% endif %} {% endcomment %}

            <div
              class="slider_item_content"
              {% if block.settings.image != blank %}
                style="width: {{ block.settings.content_width }}%;"
              {% endif %}
            >
              {% if block.settings.title != blank %}
                <h1 class="slider_title">
                  {{ block.settings.title | newline_to_br }}
                  {% if block.settings.cta_text != blank %}
                    <a
                      class="active-text"
                      {% if block.settings.cta_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.cta_link }}"
                      {% endif %}
                    >
                      {{- block.settings.cta_text -}}
                    </a>
                  {% endif %}
                </h1>
              {% endif %}
              {% if block.settings.description != blank or block.settings.button_text != blank %}
                <div class="slider_item_text">
                  {% if block.settings.description != blank %}
                    <div class="slider_item_desc">
                      <p>{{ block.settings.description }}</p>
                    </div>
                  {% endif %}
                  {% if block.settings.button_text != blank %}
                    <div class="slider_button">
                      {% if block.settings.button_text %}
                        <a
                          class="slider-btn"
                          {% if block.settings.button_link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.button_link }}"
                          {% endif %}
                        >
                          {{- block.settings.button_text }}
                          <span>{{- 'icon-arrow.svg' | inline_asset_content -}}</span></a
                        >
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>

            <div class="bg-media">
              {% if block.settings.bg_video != blank %}
                {% assign video_url = block.settings.bg_video.sources[1].url %}
                <video
                  src="{{ video_url }}"
                  playsinline
                  muted
                  {% if block.settings.video_loop %}
                    loop
                  {% endif %}
                  {% if block.settings.video_autoplay %}
                    autoplay
                  {% endif %}
                ></video>
              {% elsif block.settings.bg_image != blank %}
                {{
                  block.settings.bg_image
                  | image_url: width: 48
                  | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
                }}
              {% else %}
                {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </items-carousel>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "t:sections.slideshow.blocks.slide.settings.bg_image.label", 
        },
        {
          "type": "video",
          "id": "bg_video",
          "label": "t:sections.slideshow.blocks.slide.settings.bg_video.label"
        },
        {
          "type": "checkbox",
          "id": "video_loop",
          "label": "t:sections.slideshow.blocks.slide.settings.video_loop.label",
          "default": true,
          "info": "t:sections.slideshow.blocks.slide.settings.video_loop.info"
        },
        {
          "type": "checkbox",
          "id": "video_autoplay",
          "label": "t:sections.slideshow.blocks.slide.settings.video_autoplay.label",
          "default": true,
          "info": "t:sections.slideshow.blocks.slide.settings.video_autoplay.info"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.image_header.content"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.slide_image.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.text_header.content"
        },
        {
          "type": "range",
          "id": "content_width",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.content_width.label",
          "default": 40
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.slideshow.blocks.slide.settings.title_text.label",
          "default": "t:sections.slideshow.blocks.slide.settings.title_text.default"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "t:sections.slideshow.blocks.slide.settings.cta_text.label",
          "default": "t:sections.slideshow.blocks.slide.settings.cta_text.default",
          "info": "t:sections.slideshow.blocks.slide.settings.cta_text.info"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "t:sections.slideshow.blocks.slide.settings.cta_link.label"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "t:sections.slideshow.blocks.slide.settings.description.label",
          "default": "t:sections.slideshow.blocks.slide.settings.description.default"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.slideshow.blocks.slide.settings.button_text.label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_text.default"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.slideshow.blocks.slide.settings.button_link.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 60
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 120
        }
      ]
    }               
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
