{{ 'component-testimonial.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .testimonial-item{
    width: calc((100% / {{section.settings.columns_desktop}}));
  }
{%- endstyle -%}

<section class="testimonial-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    {% if section.settings.testimonial_heading != blank %}
      <div class="heading_area">
        <h2 class="sec_title">{{ section.settings.testimonial_heading }}</h2>
      </div>
    {% endif %}
    <div class="testimonial_erap">
      <items-carousel>
        <div
          class="carousel items-carousel-selector"
          data-flickity='{ "contain": true, "prevNextButtons": true, "pageDots": false}'
        >
          {%- for block in section.blocks -%}
            <div class="testimonial-item" {{ block.shopify_attributes }}>
              {% if block.settings.testimonial_image != blank %}
                <div class="testimonial-images">
                  {% render 'the-img', image: block.settings.testimonial_image %}
                </div>
              {% endif %}
              <div class="testimonial-content">
                {% if block.settings.client_review_title != blank or block.settings.client_review_text != blank %}
                  <div class="testimonial-text">
                    {% if block.settings.client_review_title %}
                      <h5 class="title">{{ block.settings.client_review_title }}</h5>
                    {% endif %}
                    {% if block.settings.client_review_text != blank %}
                      <div class="desc">
                        <p>{{ block.settings.client_review_text }}</p>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                {% if block.settings.client_image != blank
                  or block.settings.client_name != blank
                  or block.settings.client_location != blank
                %}
                  <div class="testimonial-author">
                    {%- if block.settings.client_image != blank -%}
                      <div class="author-images">
                        {% if block.settings.client_image != blank %}
                          {{
                            block.settings.client_image
                            | image_url: width: 48
                            | image_tag: widths: '165, 360, 535, 750, 1070, 1500'
                          }}
                        {% else %}
                          {{ 'image' | placeholder_svg_tag }}
                        {% endif %}
                      </div>
                    {%- endif -%}
                    <div class="author-text">
                      {% if block.settings.client_name != blank %}
                        <h5 class="title">{{ block.settings.client_name }}</h5>
                      {% endif %}
                      {% if block.settings.client_location != blank %}
                        <span class="designation">{{ block.settings.client_location }}</span>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.show_product != blank %}
                  <div class="testimonial-infos">
                    <div class="infos-text">
                      <h6 class="title">
                        <a
                          {% if block.settings.testimonial_product == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ block.settings.testimonial_product.url }}"
                          {% endif %}
                        >
                          <span
                            ><span>
                              {{- block.settings.testimonial_product.title | default: 'Product title' -}}
                            </span></span
                          >
                        </a>
                      </h6>
                      <span class="price">
                        {{ block.settings.testimonial_product.price | money | default: '0.00' }}
                      </span>
                    </div>
                    <div class="testimonial-button">
                      <a
                        class="link-btn"
                        {% if block.settings.testimonial_product == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.testimonial_product.url }}"
                        {% endif %}
                      >
                        {{- 'icon-plus.svg' | inline_asset_content -}}
                      </a>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </items-carousel>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.testimonial.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "testimonial_heading",
      "label": "t:sections.testimonial.settings.testimonial_heading.label",
      "default": "t:sections.testimonial.settings.testimonial_heading.default"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2,
      "label": "t:sections.testimonial.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonial.blocks.testimonial.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "testimonial_image",
          "label": "t:sections.testimonial.blocks.testimonial.settings.testimonial_image.label",
          "info": "t:sections.testimonial.blocks.testimonial.settings.testimonial_image.info"
        },
        {
          "type": "text",
          "id": "client_review_title",
          "label": "t:sections.testimonial.blocks.testimonial.settings.client_review_title.label",
          "default": "t:sections.testimonial.blocks.testimonial.settings.client_review_title.default"
        },
        {
          "type": "richtext",
          "id": "client_review_text",
          "label": "t:sections.testimonial.blocks.testimonial.settings.client_review_text.label",
          "default": "t:sections.testimonial.blocks.testimonial.settings.client_review_text.default"
        },
        {
          "type": "image_picker",
          "id": "client_image",
          "label": "t:sections.testimonial.blocks.testimonial.settings.client_image.label"
        },
        {
          "type": "text",
          "id": "client_name",
          "label": "t:sections.testimonial.blocks.testimonial.settings.client_name.label",
          "default": "t:sections.testimonial.blocks.testimonial.settings.client_name.default"
        },
        {
          "type": "text",
          "id": "client_location",
          "label": "t:sections.testimonial.blocks.testimonial.settings.client_location.label",
          "default": "t:sections.testimonial.blocks.testimonial.settings.client_location.default"
        },
        {
          "type": "checkbox",
          "id": "show_product",
          "label": "t:sections.testimonial.blocks.testimonial.settings.show_product.label",
          "default": true
        },
        {
          "type": "product",
          "id": "testimonial_product",
          "label": "t:sections.testimonial.blocks.testimonial.settings.testimonial_product.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonial.presets.name",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
