{{ 'our-journey.css' | asset_url | stylesheet_tag }}
<script src="{{ 'media-tab.js' | asset_url }}" defer></script>

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.67 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.67 | round: 0 }}px;
    }

    @media screen and (min-width: 800px) {
      .tab_main_wrapper {
      grid-template-columns: repeat( {{ section.settings.columns_desktop }} , 1fr);
  }
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}
<!-- start: Journey Section -->
<section class="our-journey-section section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="heading-area">
      <h1 class="our_journey_main_title">{{ section.settings.section_title }}</h1>
      <h5 class="our_journey_title">{{ section.settings.section_description }}</h5>
    </div>
    <media-tab>
      <div class="our_journey_main_wrapper">
        <div class="our_journey_image_wrapper">
          {%- for block in section.blocks -%}
            <div class="our_journey_images flex">
              {%- if block.settings.tab_image != blank -%}
                {% render 'the-img', image: block.settings.tab_image %}
              {%- else -%}
                {%- assign placeholder_image_index = forloop.index0 | modulo: 4 | plus: 1 -%}
                {%- assign placeholder_image = 'collection-apparel-' | append: placeholder_image_index -%}
                {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
        <div class="our_journey_tabs h-full">
          <div class="our_journey_tab" id="our-journey-tab">
            <div class="our_journey_menu">
              <ul class="tabs_menu">
                {%- for block in section.blocks -%}
                  <li class="{% if forloop.first %}active{% endif %}" {{ block.shopify_attributes }}>
                    <span class="journey_anim">
                      <span class="journey_text">
                        {%- if block.settings.tab_button != blank -%}
                          {{- block.settings.tab_button -}}
                        {%- else -%}
                          {{ 'sections.timeline_tab.tab' | t }}
                          {{ forloop.index }}
                        {%- endif -%}
                      </span>
                    </span>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="our_journey_content">
              {%- for block in section.blocks -%}
                <div class="tab-pane">
                  <h3 class="our_journey_title">
                    {%- if block.settings.tab_heading != blank -%}
                      {{ block.settings.tab_heading }}
                    {%- else -%}
                      {{ 'sections.timeline_tab.tab_title' | t }}
                    {%- endif -%}
                  </h3>
                  <div class="our_journey_desc">
                    {%- if block.settings.tab_description != blank -%}
                      {{ block.settings.tab_description }}
                    {%- else -%}
                      <p>{{ 'sections.timeline_tab.tab_content' | t }}</p>
                    {%- endif -%}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </media-tab>
  </div>
</section>
<!-- end: Journey Section -->
{% comment %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let tabWrapper = document.getElementById('our-journey-tab');
      if (!tabWrapper) return;
      let tabMnu = tabWrapper.querySelectorAll('.tabs_menu li'),
        tabContent = tabWrapper.querySelectorAll('.our_journey_content > .tab-pane'),
        tabImages = document.querySelectorAll('.our_journey_images');

      if (tabMnu.length === 0 || tabContent.length === 0) return;
      tabContent.forEach((content, index) => {
        content.style.display = index === 0 ? 'block' : 'none';
        content.setAttribute('data-tab', 'tab' + index);
      });

      tabMnu.forEach((item, index) => {
        item.setAttribute('data-tab', 'tab' + index);
      });

      tabImages.forEach((image, index) => {
        image.setAttribute('data-tab', 'tab' + index);
        image.style.display = index === 0 ? 'block' : 'none';
      });

      tabMnu.forEach((item) => {
        item.addEventListener('click', function () {
          var tabData = this.getAttribute('data-tab');
          tabContent.forEach((content) => {
            content.style.display = content.getAttribute('data-tab') === tabData ? 'block' : 'none';
          });

          tabImages.forEach((image) => {
            image.style.display = image.getAttribute('data-tab') === tabData ? 'block' : 'none';
          });

          tabMnu.forEach((tab) => tab.classList.remove('active'));
          this.classList.add('active');
        });
      });

      tabMnu[0].classList.add('active');
    });
  </script>
{% endcomment %}
{% schema %}
{
  "name": "t:sections.timeline-tabs.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "t:sections.timeline-tabs.settings.section_title.label",
      "default": "t:sections.timeline-tabs.settings.section_title.default"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "default": "t:sections.timeline-tabs.settings.section_description.default",
      "label": "t:sections.timeline-tabs.settings.section_description.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "t:sections.timeline-tabs.blocks.tab.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "tab_image",
          "label": "t:sections.timeline-tabs.blocks.tab.settings.tab_image.label"
        },
        {
          "type": "text",
          "id": "tab_button",
          "label": "t:sections.timeline-tabs.blocks.tab.settings.tab_button.label",
          "default": "t:sections.timeline-tabs.blocks.tab.settings.tab_button.default"
        },
        {
          "type": "text",
          "id": "tab_heading",
          "label": "t:sections.timeline-tabs.blocks.tab.settings.tab_heading.label",
          "default": "t:sections.timeline-tabs.blocks.tab.settings.tab_heading.default"
        },
        {
          "type": "richtext",
          "id": "tab_description",
          "label": "t:sections.timeline-tabs.blocks.tab.settings.tab_description.label",
          "default": "t:sections.timeline-tabs.blocks.tab.settings.tab_description.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.timeline-tabs.presets.name",
      "blocks": [{ "type": "tab" }, { "type": "tab" }, { "type": "tab" }]
    }
  ]
}
{% endschema %}
