{{ 'urban-style.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}

<section class="sds-redefine-section color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="redefine_wrapper section-{{ section.id }}-padding">
      <div class="redefine_title">
        <h2 class="title uppercase">{{ section.settings.main_heading }}</h2>
      </div>
      <div class="redefine_item flex wrap center w-full">
        {% assign redefine_images_block_present = false %}
        {% assign is_first_block = true %}

        {% for block in section.blocks %}
          {% if block.type == 'redefine_images' %}   
            {% assign redefine_images_block_present = true %}
          {% endif %}
        {% endfor %}
        {%- for block in section.blocks -%} 
            {% case block.type %}
              {% when 'redefine_images' %}
                  <div class="redefine_images flex"  {{ block.shopify_attributes }} style="transform: rotate({{ block.settings.card_image_rotation }}deg);">
                    {%- if block.settings.main_image != blank -%}
                      {%- capture sizes -%}
                        (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                        (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                      {%- endcapture -%}
                      {{
                        block.settings.main_image | image_url: width: 1500 | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
                      }}
                      {%- else -%}
                      {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
      
                    {%- if block.settings.shape_image_one != blank -%}
                      <div class="shapes-1">
                        {{ block.settings.shape_image_one | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                      </div>
                    {%- endif -%}
                  </div>
              {% when 'redefine_content' %}
                  <div class="redefine_content {% if redefine_images_block_present == false or is_first_block %}no_redefine_images{% endif %}"  {{ block.shopify_attributes }} style="transform: rotate({{ block.settings.card_content_rotation }}deg)">
                    <div class="redefine_content_inner">
                      {% if block.settings.sub_heading != blank %}
                        <h3 class=" uppercase">{{ block.settings.sub_heading }}</h3>
                      {% endif %}
                      {% if block.settings.paragraph_one %}
                        <div class="desc">
                          {{ block.settings.paragraph_one }}
                        </div>
                      {% endif %}
                      {% if block.settings.button_text != blank %}
                        <div class="redefine_button">
                          <a class="text-btn" href="{{ block.settings.button_link }}">{{ block.settings.button_text }} <span>{{- 'icon-caret.svg' | inline_asset_content -}}</span></a>
                        </div>
                      {% endif %}
                    </div>
      
                    {%- if block.settings.shape_image_two != blank -%}
                      <div class="shapes-2">
                        {{ block.settings.shape_image_two | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                      </div>
                    {%- endif -%}
      
                    {%- if block.settings.shape_image_three != blank -%}
                      <div class="shapes-3">
                        {{ block.settings.shape_image_three | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
                      </div>
                    {%- endif -%}
                  </div>
            {% endcase %}
            {% assign is_first_block = false %}
        {%- endfor -%}
      </div>
      {%- if section.settings.bg_image != blank -%}
        <div class="bg_images">
          {{ section.settings.bg_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Urban style section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Heading",
      "default": "Redefine your urban style"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "redefine_images",
      "name": "Image",
       "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "main_image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "shape_image_one",
          "label": "Shape image"
        },
        {
          "type": "range",
          "id": "card_image_rotation",
          "min": -45,
          "max": 45,
          "step": 1,
          "unit": "°",
          "label": "Item rotation",
          "default": 5
        }
      ]
    },
    {
      "type": "redefine_content",
      "name": "Text content",
       "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Title",
          "default": "Dapper is more than just clothes. We're a movement. A culture"
        },
        {
          "type": "richtext",
          "id": "paragraph_one",
          "label": "Text",
          "default": "<p>We are a collective of creators, curating a minimalist aesthetic with a bold edge. Our designs are for the modern individual who seeks quality, comfort, and a touch of rebellion.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "image_picker",
          "id": "shape_image_two",
          "label": "Shape image"
        },
        {
          "type": "image_picker",
          "id": "shape_image_three",
          "label": "Shape image"
        },
        {
          "type": "range",
          "id": "card_content_rotation",
          "min": -45,
          "max": 45,
          "step": 1,
          "unit": "°",
          "label": "Item rotation",
          "default": -5
        }
      ]
    }
  ],
"presets": [
  {
    "name": "Urban style section",
    "blocks": [
      {
        "type": "redefine_images",
        "settings": {}
      },
      {
        "type": "redefine_content",
        "settings": {}
      }
    ]
  }
]
}
{% endschema %}
