{{ 'component-video.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .id-{{ section.id }} .snzz-video-img::before{
    opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<!---- All Collection Section --->
<section class="snzz-video-section id-{{ section.id }} color-{{ section.settings.section_color_scheme }}">
       <div class="snzz-video-inner">
        {% assign video_url = section.settings.bg_video.sources[1].url %}
            <div class="snzz-video-img">
                {%- if section.settings.bg_image -%}
                    {{ section.settings.bg_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
               {%- elsif video_url -%}
                    <video src="{{ video_url }}"playsinline controls muted {% if section.settings.video_loop %}loop{% endif %} autoplay></video>
                        {% else %} 
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
            </div>
          <div class="snzz-inner-content section-{{ section.id }}-padding">
            {%- for block in section.blocks -%} 
              {% case block.type %}
              {% when 'title_content' %}
            {%- if block.settings.main_heading != blank -%}
             <h3 class="" {{ block.shopify_attributes }}>{{ block.settings.main_heading | upcase }}</h3>
            {%- endif -%}
            {% when 'subtile_content' %}
             {%- if block.settings.sub_heading != blank -%}
             <span {{ block.shopify_attributes }} class="sub-heading flex">{{ block.settings.sub_heading }}</span>
            {%- endif -%}
          {% endcase %}
       {%- endfor -%}
          </div>           
       </div>
 </section>
 <!---- All Collection Section --->

{% schema %}
{
  "name": "Video",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
        "type": "header",
        "content": "Video"
    },
    {
        "type": "video",
        "id": "bg_video",
        "label": "Upload"
    },
    {
        "type": "checkbox",
        "id": "video_loop",
        "label": "Loop video",
        "default": true,
        "info": "Enable to play the video in a continuous loop."
    },
    {
        "type": "header",
        "content": "Cover image"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Image",
      "info": "This image will override the video"
    },
    {
        "type": "header",
        "content": "Overlay"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 70,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 352
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 352
    }
  ],
  "blocks": [
    {
      "type": "title_content",
      "name": "Title content",
       "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "Title",
          "default": "Our designs are for the modern individual who seeks quality, comfort, and a touch of rebellion."
        }
      ]
    },
    {
      "type": "subtile_content",
      "name": "Sub heading content",
       "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "sub_heading",
          "label": "Sub heading",
          "default": "<p>Our designs are for the modern individual who seeks quality, comfort, and a touch of rebellion.</p>"
        }
      ]
    }
  ],
"presets": [
  {
    "name": "Video",
    "blocks": [
      {
        "type": "title_content",
        "settings": {}
      },
      {
        "type": "subtile_content",
        "settings": {}
      }
    ]
  }
]
}
{% endschema %}
