{{ 'component-video.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .id-{{ section.id }} .snzz-video-img::before{
    opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

<section class="snzz-video-section id-{{ section.id }} color-{{ section.settings.section_color_scheme }} {% if section.settings.enable_corner_round %}corner-round{% endif %}">
  <div class="snzz-video-inner">
    {% assign video_url = section.settings.bg_video.sources[1].url %}
    {% assign youtube_url = section.settings.youtube_url %}
    {% assign vimeo_id = section.settings.vimeo_url | split: '/' | last %}
    <div class="snzz-video-img">
      {%- if section.settings.bg_image -%}
        {{ section.settings.bg_image | image_url: width: 1500 | image_tag: widths: '165, 360, 535, 750, 1070, 1500' }}
      {%- elsif video_url and section.settings.video_type == 'upload' -%}
        <video src="{{ video_url }}" playsinline muted loop autoplay></video>
      {% elsif youtube_url != blank and section.settings.video_type == 'youtube' %}
        <iframe
          src="{{ youtube_url | replace: 'watch?v=', 'embed/' }}?autoplay=1&mute=1&loop=1&playlist={{ youtube_url | split: 'v=' | last }}&controls=0&showinfo=0&rel=0&modestbranding=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      {% elsif vimeo_id != blank and section.settings.video_type == 'vimeo' %}
        <iframe
          src="https://player.vimeo.com/video/{{ vimeo_id }}?background=1&autoplay=1&loop=1&byline=0&title=0"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
      {% else %}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="snzz-inner-content section-{{ section.id }}-padding">
      {%- for block in section.blocks -%}
        {% case block.type %}
          {% when 'title_content' %}
            {%- if block.settings.main_heading != blank -%}
              <h3 class="" {{ block.shopify_attributes }}>{{ block.settings.main_heading | upcase }}</h3>
            {%- endif -%}
          {% when 'subtile_content' %}
            {%- if block.settings.sub_heading != blank -%}
              <span {{ block.shopify_attributes }} class="sub-heading flex">{{ block.settings.sub_heading }}</span>
            {%- endif -%}
        {% endcase %}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.video.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.video.settings.section_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_corner_round",
      "label": "t:sections.all.corner_rounding.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.video_header.content"
    },
    {
      "type": "select",
      "id": "video_type",
      "label": "Video source",
      "options": [
        {
          "value": "upload",
          "label": "Upload video"
        },
        {
          "value": "youtube",
          "label": "YouTube"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        }
      ],
      "default": "upload"
    },
    {
      "type": "url",
      "id": "youtube_url",
      "label": "YouTube URL",
      "info": "Example: https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "visible_if": "{{ section.settings.video_type == 'youtube' }}"
    },
    {
      "type": "url",
      "id": "vimeo_url",
      "label": "Vimeo URL",
      "info": "Example: https://vimeo.com/123456789",
      "visible_if": "{{ section.settings.video_type == 'vimeo' }}"
    },
    {
      "type": "video",
      "id": "bg_video",
      "label": "Upload"
    },
    {
      "type": "checkbox",
      "id": "video_loop",
      "label": "Loop video",
      "default": true,
      "info": "Enable to play the video in a continuous loop."
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.cover_image_header.content"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "t:sections.video.settings.bg_image.label",
      "info": "t:sections.video.settings.bg_image.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.overlay_header.content"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "t:sections.video.settings.overlay_opacity.label",
      "default": 70,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 352
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 360,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 352
    }
  ],
  "blocks": [
    {
      "type": "title_content",
      "name": "t:sections.video.blocks.title_content.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "main_heading",
          "label": "t:sections.video.blocks.title_content.settings.main_heading.label",
          "default": "t:sections.video.blocks.title_content.settings.main_heading.default"
        }
      ]
    },
    {
      "type": "subtile_content",
      "name": "t:sections.video.blocks.subtile_content.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "sub_heading",
          "label": "t:sections.video.blocks.subtile_content.settings.sub_heading.label",
          "default": "t:sections.video.blocks.subtile_content.settings.sub_heading.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name",
      "blocks": [
        {
          "type": "title_content",
          "settings": {}
        },
        {
          "type": "subtile_content",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
